body {
    overflow: hidden;
}

/*上面的标题的框*/
.Allhead {
    height: 60px;
    background-color: black;
}

/*上面的标题*/
.headleft {
    width: 200px;
    color: #009688;
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

/*欢迎提示信息的div*/
.welcome {
    position: absolute;
    top: 20px;
    right: 200px;
    font-size: 16px;
    color: white;
}

/*退出按钮的框*/
.headright {
    position: absolute;
    top: 20px;
    right: 50px;
}

/*退出按钮*/
.headright a {
    color: #66CCFF;
}

.headright a:hover {
    color: blue;
    text-decoration: none;
}

/*上的a标签的容器*/
.headul {
    width: 600px;
    position: relative;
    left: 200px;
    top: 0;
    padding: 0 20px;
    border-radius: 2px;
    box-sizing: border-box;
}

/*上的a标签的容器*/
.headli {
    position: relative;
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
}

/*上的a标签*/
.headli a {
    color: rgba(225, 225, 225, 0.7);
}

.headli a:hover {
    color: white;
    text-decoration: none;
}

/*左边按钮的框*/
.fixedleft {
    width: 200px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
    padding: 0;
}

/*左边的按钮*/
.fixedleft a {
    display: block;
    color: rgba(225, 225, 225, 0.7);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 10px 10px 25px;
}

.fixedleft a:hover, .fixedleft a:visited {
    color: white;
    text-decoration: none;
    background-color: gray;
}


/*用户账号信息的框*/
.Allbody {
    position: absolute;
    top: 60px;
    left: 200px;
    margin: 10px;
    border: 1px solid black;
}

.peobody {
    width: 80%;
    height: 87%;
    padding: 20px;
}

/*头部的框，包含搜索等*/
.headFrame {
    margin-bottom: 30px;
}

.headFrame button {
    float: left;
    height: 37px;
}

/*表格的框*/
.peolt {
    margin-bottom: 0.7%;
    background-color: skyblue;
    border: 1px solid black;
}

.peolt table {
    margin-bottom: 0;
}

/*用于设置邮件查看邮件内容的div*/
.mailContent {
    border: 1px solid #080808;
    padding: 20px 20px;
    margin: 0 6%;
    width: 88%;
    height: 200px;
    overflow: auto;
    text-align: justify;
}

/*搜索框旁边下拉列表的宽度*/
.dropdown-menu {
    min-width: 80px !important;
}

/*超出文本显示成点*/
.textSpot {
    height: 45px;
    max-width: 114.67px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*添加和删除分类键的下拉列表定位*/
.addSelect {
    position: absolute !important;
    top: 28% !important;
    left: 6% !important;
}

/*删除分类的值下拉列表定位*/
.deleteSelect {
    position: absolute!important;
    top: 28%!important;
    left: 20%!important;
}

.left20 {
    margin-left: 20px;
}

.left35 {
    margin-left: 35px;
}

.left135 {
    margin-left: 135px;
}

.font-size10 {
    font-size: 12px !important;
    padding: 5px 10px !important;
}

