<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="right" th:fragment="personalInformation">
    <style>
        .personal_information{
        background-color:#bdbdbd;
        border-left: 5px solid #000;
        }
    </style>
    <div class="guide">
                <span class="message">
                    当前所在位置：<a href="Personal_Center .html">个人中心</a> > 个人信息
                </span>
    </div>
    <div class="contain">
        <div class="touxiang">
            <div class="head">
                <img th:src="@{${user.headPortrait}}" alt="">
            </div>
            <form action="" name="file" class="file">
                上传图片<input type="file" id="img" name="img">
            </form>
            <!-- <input type="file" class="xiugai file"  placeholder="上传图片"> -->
        </div>
        <div class="name">
            <span class="name" th:text="${user.name}" >未来音乐用户名</span>
            <span class="changename">修改用户名</span>
        </div>
    </div>
</div>

</body>
</html>