<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="zhuanji" th:fragment="SSSlikeAlbum" class="likeTab">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>我的专辑</th>
            <th>曲目数</th>
            <th>歌手</th>
            <th>more</th>
        </tr>
        </thead>
        <tbody>
        <tr class="personal_list">
            <td>
                <div>
                    <a href="javascript:;">
                        <img src="img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                        <span>name</span>
                    </a>
                </div>
            </td>
            <td>
                <span>2</span>
            </td>
            <td>
                <span>歌手：<b>name</b></span>
            </td>
            <th class="dropdown">
                            <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <span class="iconfont icon-laji"></span>
                            删除
                        </a>
                    </li>
                    <!--                            <li role="separator" class="divider"></li>-->
                </ul>
            </th>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
