<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="myInformation" th:fragment="SSSpersonalInformation" class="personalCenterTab">
    <div class="container">
        <div class="money">
            <h2>
                账户余额
                <span class="iconfont icon-iconvip"></span>
            </h2>
            <h3 th:text="'￥ '">￥6.00</h3>
            <button class="btn btn-danger pull-right" id="Recharge" data-toggle="modal" data-target="#recharge_container" data-whatever="Recharge">充值余额</button>
            <div class="modal fade" id="recharge_container" tabindex="-1" role="dialog" aria-labelledby="recharge_container">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">余额充值</h4>
                        </div>
                        <div class="modal-body">
                            <div class="amount">
                                <div>
                                    <a th:href="@{/user/rechargeBalance(type=1)}">
                                        <h3>￥10.00</h3>
                                    </a>
                                </div>
                                <div>
                                    <a th:href="@{/user/rechargeBalance(type=2)}" >
                                        <h3>￥25.00</h3>
                                    </a>
                                </div>
                                <div>
                                    <a th:href="@{/user/rechargeBalance(type=3)}" >
                                        <h3>￥100.00</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 id="changeInformation"><a href="javascript:;">修改个人信息</a></h2>
        <form class="">
            <div class="form-group">
                <label for="exampleInputEmail1">昵称</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="昵称">
            </div>
            <a class="btn btn-success pull-right" id="modifyUserName">确认更改</a>
        </form>
        <form style="margin: 50px 0 0 0" action="/user/setUpHeadPortrait" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="exampleInputFile">上传头像</label>
                <input type="file" name="file" id="exampleInputFile">
                <p class="help-block">选择你的头像。</p>
            </div>
            <button type="submit" class="btn btn-success pull-right" id="modifyUserPortrait">确认更改</button>
        </form>
    </div>
</div>

</body>
</html>