<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<ul class="headul" th:fragment="classificationHead"></ul>
<div class="Allbody peobody " th:fragment="classification">
    <!-- 导入 JS -->
    <script th:src="@{/static/js/system/classificationAdmin.js}"></script>
    <div class="headFrame dropdown">
        <form th:action="@{/administrators/showIdClassification}" method="get">
            <div class="col-sm-2">
                <input type="text" name="id" class="form-control" placeholder="请输入ID" style="height: 37px;"/>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
        <button type="button" class="btn btn-primary btn-sm left35" data-toggle="modal"
                data-target="#addMusic">添加分类
        </button>
        <button type="button" class="btn btnAcc btn-danger btn-sm   edit left35" data-toggle="modal"
                data-target="#edit">删除分类
        </button>
        <div style="clear: both;"></div>
        <!--添加分类信息-->
        <div class="modal fade" id="addMusic" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">添加分类<span class="promptInformation" style="color: red"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <button class="btn btn-default dropdown-toggle left20 classification" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                选择
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu addSelect"  aria-labelledby="classification" >
                                <li data-value="1" class="selectClassification"><a href="#">语种</a></li>
                                <li data-value="2" class="selectClassification"><a href="#">地区</a></li>
                                <li data-value="3" class="selectClassification"><a href="#">性别</a></li>
                                <li data-value="4" class="selectClassification"><a href="#">类型</a></li>
                            </ul>
                            <div class="col-sm-9">
                                <input id="addValue" class="form-control " placeholder="6-8个数字">
                            </div>
                            <br> <br> <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭
                            </button>
                            <input type="submit" id="preservationValue" class="btn btn-primary key" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--删除分类-->
        <div class="modal fade " id="edit" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">分类信息<span class="promptInformation" style="color: red"></span></h4>
                    </div>
                    <div class="modal-body">
                        <input id="editId" class="form-control " style="display: none"/>
                        <!--存放需要更改的信息-->
                        <div class="form-group">
                            <button class="btn btn-default dropdown-toggle left20 classification " id="deleteClassification" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                选择
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu addSelect" aria-labelledby="classification" >
                                <li data-value="1" class="selectClassification"><a href="#">语种</a></li>
                                <li data-value="2" class="selectClassification"><a href="#">地区</a></li>
                                <li data-value="3" class="selectClassification"><a href="#">性别</a></li>
                                <li data-value="4" class="selectClassification"><a href="#">类型</a></li>
                            </ul>
                            <button class="btn btn-default dropdown-toggle left20 "   type="button" id="value" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                请选择
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu deleteSelect" id="getValue" aria-labelledby="value" >
                            </ul>
                            <br> <br> <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭
                            </button>
                            <input type="submit" id="deleteValue" class="btn btn-primary key" value="保存"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="peolt">
        <table class="table table-hover table-bordered">
            <!--列表单的宽-->
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <!--列的标题-->
            <thead>
            <tr>
                <th>语种</th>
                <th>地区</th>
                <th>歌手</th>
                <th>类型</th>
            </tr>
            </thead>
            <!--行内容-->
            <tbody th:each="list:${pageInfo.list}">
            <tr>
                <td th:text="${list.languages}"></td>
                <td th:text="${list.region}"></td>
                <td th:text="${list.gender}"></td>
                <td th:text="${list.type}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        共 <span th:text="${pageInfo.pages}"></span>页 当前 第<span th:text="${pageInfo.pageNum}"></span>页
        <span th:if="${pageInfo.hasPreviousPage}">
            <a th:href="@{/administrators/showClassification(pageNum=${pageInfo.pageNum-1})}">
                <button type="button" class="btn btn-default btn-lg font-size10">上一页</button>
            </a>
        </span>
        <span th:if="${!pageInfo.hasPreviousPage}">
            <button type="button" class="btn btn-default btn-lg font-size10" disabled="disabled">上一页</button>
        </span>
        <span th:if="${pageInfo.hasNextPage}">
            <a th:href="@{/administrators/showClassification(pageNum=${pageInfo.pageNum+1})}">
                <button class="btn btn-default btn-lg font-size10" type="button">下一页</button>
            </a>
        </span>
        <span th:if="${!pageInfo.hasNextPage}">
            <button type="button" class="btn btn-default btn-lg font-size10" disabled="disabled">下一页</button>
        </span>
    </div>


</div>
</body>
</html>