<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<ul class="headul" th:fragment="userHead">
    <li class="headli">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=0,pageNum=${pageInfo.pageNum})}">
            全部</a>
    </li>
    <li class="headli">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=-1,pageNum=${pageInfo.pageNum})}">
            普通用户</a>
    </li>
    <li class="headli">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=1,pageNum=${pageInfo.pageNum})}">
            vip用户</a>
    </li>
    <li class="headli">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=2,pageNum=${pageInfo.pageNum})}">
            音乐人</a>
    </li>
    <li class="headli">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=3,pageNum=${pageInfo.pageNum})}">
            客服</a>
    </li>
    <li class="headli">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=4,pageNum=${pageInfo.pageNum})}">
            管理员</a>
    </li>
</ul>
<div class="Allbody peobody " th:fragment="user">
    <!-- 导入 JS -->
    <script th:src="@{/static/js/system/userAdmin.js}"></script>
    <div class="headFrame dropdown">
        <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=1,condition=${conditionThree},pageNum=${pageInfo.pageNum})}">
            <button type="button" class="btn btn-primary btn-sm">查找被封号用户</button>
        </a>
        <button class="btn btn-default dropdown-toggle left20" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            ID
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenu1" style="left: 125px;">
            <li data-value="1" class="select"><a href="#"> ID </a></li>
            <li data-value="2" class="select"><a href="#">邮箱</a></li>
            <li data-value="3" class="select"><a href="#">用户名</a></li>
        </ul>
        <form th:action="@{/administrators/showUser}" method="get">
            <div class="col-sm-2">
                <input type="text" name="condition" id="type"  value="1" style="display: none"/>
                <input type="text" name="condition" class="form-control" placeholder="请输入" style="height: 37px;"/>
                <input type="text" name="condition" th:value="${conditionTwo}" style="display: none"/>
                <input type="text" name="condition" th:value="${conditionThree}" style="display: none"/>
                <input type="text" name="condition" th:value="${pageInfo.pageNum}" style="display: none"/>
            </div>
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
        <h3 style="display: inline; color: red" class="left20">提示信息</h3>
        <div style="clear: both;"></div>

        <!--添加用户的账号信息-->
        <div class="modal fade" id="tianjiayonghu" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">账号信息</h4>
                    </div>
                    <div class="modal-body">
                        <form name="adduserInformation"
                              onsubmit="return adduserInformations()" class="form-horizontal"
                              action="AdministratorUserInformation?jump=addUserInformation" method="post">
                            <!--存放添加用户的信息-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-9">
                                    <input name="userName" class="form-control " placeholder="1-4个字符">
                                </div>
                                <br> <br> <br>
                                <label class="col-sm-2 control-label">账号</label>
                                <div class="col-sm-9">
                                    <input name="account" class="form-control " placeholder="6-8个数字">
                                </div>
                                <br> <br> <br> <label
                                    class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input name="password" class="form-control " placeholder="6-8个数字或字母">
                                </div>
                                <br> <br> <br> <label
                                    class="col-sm-2 control-label">账号等级</label>
                                <div class="col-sm-9">
                                    <input name="grade" class="form-control "
                                           placeholder="只能是(1-4)的数字相对于普通用户，普通vip，高级vip,管理员">
                                </div>
                                <br> <br> <br> <label
                                    class="col-sm-2 control-label">余额</label>
                                <div class="col-sm-9">
                                    <input name="balance" class="form-control "
                                           placeholder="必须是数字且最多有两位小数">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                                <input type="submit" name="submit" class="btn btn-primary"
                                       value="保存"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="peolt">
        <table class="table table-hover table-bordered">
            <!--列表单的宽-->
            <colgroup>
                <col width="8%">
                <col width="13%">
                <col width="23%">
                <col width="12%">
                <col width="15%">
                <col width="10%">
                <col width="20%">
            </colgroup>
            <!--列的标题-->
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>账号等级</th>
                <th>余额</th>
                <th>被举报次数</th>
                <th>操作</th>
            </tr>
            </thead>
            <!--行内容-->
            <tbody th:each="list:${pageInfo.list}">
            <tr>
                <td th:text="${list.id}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.mailbox}"></td>
                <td th:switch="${list.level}">
                    <span th:case="0">普通用户</span>
                    <span th:case="1" style="color:#0018c6">vip用户</span>
                    <span th:case="2" style="color:#FFFF00">音乐人</span>
                    <span th:case="3" style="color:#009966">客服</span>
                    <span th:case="4" style="color:red">管理员</span>
                    <span th:case="5" style="color:red">总管理员</span>
                </td>
                <td th:text="${list.balance}"></td>
                <td th:if="${list.report<200}">
                    <span th:text="${list.report}"></span>
                </td>
                <td th:if="${list.report>=200}">
                    <span style="color: red;font-weight: 600">封号</span>
                </td>
                <td>
                    <button type="button" th:data-id="${list.id}"
                            class="btn btn-warning btnAcc btn-sm  editUser" data-toggle="modal"
                            data-target="#editUser">编辑
                    </button>
                    <button type="button" th:data-id="${list.id}"
                            class="btn btnAcc btn-success btn-sm moreUser " data-toggle="modal"
                            data-target="#moreUser">更多
                    </button>
                    <button type="button" class="btn btnAcc btn-danger btn-sm " disabled="disabled"
                            data-toggle="modal">删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        共 <span th:text="${pageInfo.pages}"></span>页 当前 第<span th:text="${pageInfo.pageNum}"></span>页
        <span th:if="${pageInfo.hasPreviousPage}">
            <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=${pageInfo.pageNum-1})}">
                <button type="button" class="btn btn-default btn-lg font-size10">上一页</button>
            </a>
        </span>
        <span th:if="${!pageInfo.hasPreviousPage}">
            <button type="button" class="btn btn-default btn-lg font-size10" disabled="disabled">上一页</button>
        </span>
        <span th:if="${pageInfo.hasNextPage}">
            <a th:href="@{/administrators/showUser(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=${pageInfo.pageNum+1})}">
                <button class="btn btn-default btn-lg font-size10" type="button">下一页</button>
            </a>
        </span>
        <span th:if="${!pageInfo.hasNextPage}">
            <button type="button" class="btn btn-default btn-lg font-size10" disabled="disabled">下一页</button>
        </span>
    </div>


    <!--编辑用户的账号信息-->
    <div class="modal fade " id="editUser" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">账号信息<span class="promptInformation" style="color: red"></span></h4>
                </div>
                <div class="modal-body">
                    <input id="editUserId" class="form-control " style="display: none"/>
                    <!--存放需要更改的信息-->
                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label">账号等级</label>
                        <div class="col-sm-9">
                            <input id="vip" class="form-control "
                                   placeholder="只能是(1-4)的数字相对于普通用户，普通vip，高级vip,管理员">
                        </div>
                        <br> <br> <br> <label
                            class="col-sm-2 control-label">余额</label>
                        <div class="col-sm-9">
                            <input id="balance" class="form-control "
                                   placeholder="必须是数字且最多有两位小数">
                        </div>
                        <br> <br> <br>
                        <label class="col-sm-2 control-label">举报次数</label>
                        <div class="col-sm-9">
                            <input id="report" class="form-control " placeholder="6-8个数字">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <input type="submit" id="determineEditUser" class="btn btn-primary" value="保存"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--用户更多信息-->
    <div class="modal fade" id="moreUser" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">更多信息——用户ID：<span id="userId"></span>——粉丝量：<span id="fans"></span><span
                            class="promptInformation" style="color: red"></span></h4>
                </div>
                <div class="modal-body">
                    <input id="moreEditUserId" class="form-control "
                           style="display: none"/>
                    <!--存放需要更改的信息-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 创号时间</label>
                        <div class="col-sm-9">
                            <input id="creationNumber" class="form-control btn" disabled="disabled">
                        </div>
                        <br> <br> <br> <label
                            class="col-sm-2 control-label">vip时间</label>
                        <div class="col-sm-9">
                            <input id="vipTime" class="form-control " placeholder="请输入年龄(1-100)">
                        </div>
                        <br> <br> <br>
                        <button type="button" class="btn btn-primary left35">用户的订单</button>
                        <button type="button" class="btn btn-primary left35">用户的歌单/专辑</button>
                        <button type="button" class="btn btn-primary left35">上传过的音乐</button>
                        <button type="button" class="btn btn-primary left35">参与评论</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="submit" id="moreEditUser" class="btn btn-primary">保存
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

