<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/artist.css" th:href="@{/static/css/artist.css}">
    <link rel="stylesheet" href="../../static/css/fenYe.css" th:href="@{/static/css/fenYe.css}">
</head>
<body>

<!--头部-->
<div th:replace="webHead.html"></div>

<!--音乐人-->
<div class="container-fluid color_2" style="position: relative">
    <div class="row inner Artist">
        <div class="text-center">
            <h2>音乐人</h2>
        </div>
        <div class="col-lg-2">
            <h4>全部歌手</h4>
            <ul class="nav nav-pills nav-stacked artist_menu">
                <li role="presentation" class="active">
                    <a href="#">华语</a>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">华语男歌手</a></li>
                        <li><a href="#">华语女歌手</a></li>
                        <li><a href="#">华语组合</a></li>
                    </ul>
                </li>
                <li role="presentation" class="active">
                    <a href="#">日韩</a>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">日韩男歌手</a></li>
                        <li><a href="#">日韩女歌手</a></li>
                        <li><a href="#">日韩组合</a></li>
                    </ul>
                </li>
                <li role="presentation" class="active">
                    <a href="#">欧美</a>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">欧美男歌手</a></li>
                        <li><a href="#">欧美女歌手</a></li>
                        <li><a href="#">欧美组合</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-10" id="artist_list">
            <div class="artistS">
                <ul>
                    <li th:each="list:${page.list}">
                        <div class="artist">
                            <div class="artist_top">
                                <a th:href="@{/singerInformation(singerId=${list.singerId})}" href="javascript:;" class="artist_left pull-left">
                                    <img th:src="@{${list.portrait}}" src="img/头像_邓紫棋.jpg" alt="">
                                </a>
                                <div class="artist_right pull-right">
                                    <h5>音乐人作品</h5>
                                    <ol>
                                        <li><a href="javascript:;">music name</a></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="artist_bottom">
                                <a href="javascript:;">
                                    <h4 th:text="list.singerName">artistname</h4>
                                  </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main_rh_footer">


                <div class="zzsc">
                    <ul class="page" id="page" pagelistcount="10" maxshowpageitem="5">
                        <li class="pageItemDisable" page-rel="firstpage" page-data="1">首页</li>
                        <li class="pageItemDisable" page-rel="prepage" page-data="0">&lt;上一页</li>
                        <li class="pageItemActive" page-rel="itempage" page-data="1">1</li>
                        <li class="pageItem" page-rel="itempage" page-data="2">2</li>
                        <li class="pageItem" page-rel="itempage" page-data="3">3</li>
                        <li class="pageItem" page-rel="itempage" page-data="4">4</li>
                        <li class="pageItem" page-rel="itempage" page-data="5">5</li>
                        <li class="pageItem" page-rel="nextpage" page-data="2">下一页&gt;</li>
                        <li class="pageItem" page-rel="lastpage" page-data="8">尾页</li>
                    </ul>
                </div>
            </div>
<!--            <nav aria-label="Page navigation">-->
<!--                <ul class="pagination pagination-lg pull-right">-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li><a href="#">3</a></li>-->
<!--                    <li><a href="#">4</a></li>-->
<!--                    <li><a href="#">5</a></li>-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
    </div>
</div>


<!--尾部-->
<div th:replace="webFoot.html"></div>

</body>
<div th:replace="on-load-js::html"></div>
<script src="js/jquery-1.9.1.js" th:src="@{/static/js/jquery-1.9.1.js}" ></script>
<script src="js/back_system.js" th:src="@{/static/js/back_system.js}"></script>
<script src="js/page.js" th:src="@{/static/js/page.js}" ></script>
<script src="js/artist.js" th:src="@{/static/js/artist.js}"></script>
</html>