<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>音乐网站后台管理系统</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" href="font/iconfont.css" th:href="@{/static/font/iconfont.css}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1195775_x0jasqh5bl.css">
    <link rel="stylesheet" href="css/BackgroundManagementSystem.css" th:href="@{/static/css/BackgroundManagementSystem.css}">
</head>
<body>
        <div class="container-fluid head">1</div>
        <div class="container-fluid">
            <div class="row">
        <div class="col-lg-2">2</div>
        <div class="col-lg-10">3</div>
    </div>
</div>
</body>
</html>

