<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="div">
    <div class="header">
        <div class="inner">
            <div class="header_left">
                <img src="img/logo.png" th:src="@{/static/img/logo.png}" alt="">
            </div>
            <div class="header_main">
                <ul>
                    <li style="background:lightgreen;"><a href="./index.html">音乐馆</a></li>
                    <li><a href="./player.html">我的音乐</a></li>
                    <li><a href="#">音乐号</a></li>
                    <li><a href="#">VIP</a></li>
                </ul>
            </div>
            <div class="header_right">
                <div class="hed_rig_left">
                    <input type="text">
                    <button><img src="img/搜索 (1).png" th:src="@{/static/img/搜索 (1).png}" alt=""></button>
                </div>
                <div class="hed_rig_right">
                    <div class="hed_rig_rig_left">
                        <!-- Button trigger modal -->
                        <button type="button" id="button1" class="btn  btn-lg" data-toggle="modal"
                                data-target="#myModal">
                            登录
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal_header">
                                        <a href="#">登录</a>
                                        <a href="#">注册</a>
                                    </div>
                                    <div class="modal_main">
                                        <div class="login">


                                            <form action="" method="post">
                                                <div class="login_header">
                                                    <input type="text" id="username" name="fname" placeholder="please enter your e-mail">
                                                    <div class="tip1"></div>
                                                    <input type="password" name="pwd" id="password" placeholder="please enter your password">
                                                    <div class="tip2"></div>
                                                </div>
                                                <div class="login_bottom">
                                                    <div class="log_bom_flo">
                                                        <input type="checkbox" style="width:13px;height:13px;margin-top: 15px;margin-right: 7px;">七天内自动登录
                                                    </div>
                                                    <div class="log_bom_flo">
                                                        <a href="#">找回密码</a>|
                                                        <a href="#">无法登录</a>
                                                    </div>
                                                </div>
                                                <input type="submit" class="one_log" value="登录" style="background: red" >
                                            </form>
                                        </div>


                                        <div class="registered">
                                            <form action="">
                                                <div class="reg_header">
                                                    <div class="reg_hed_left">
                                                        <input type="text" placeholder="用户名">
                                                        <input type="text" placeholder="请输入邮箱">
                                                        <input type="password" name="pw" placeholder="请输入密码">
                                                        <input type="password" name="pw1" placeholder="请再次输入密码">
                                                    </div>
                                                    <div class="reg_hed_right">
                                                        <p></p>
                                                        <p></p>
                                                        <p></p>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="reg_main">
                                                    <div class="reg_main_left">
                                                        <input type="text" placeholder="请输入验证码">
                                                    </div>
                                                    <div class="reg_main_right">
                                                        <button id="button4">点击发送</button>
                                                    </div>
                                                </div>
                                                <div class="reg_checkbox">
                                                    <input type="checkbox" style="width:13px;height:13px;margin: 5px 5px;">同意 <a href="#">《用户协议》</a>
                                                </div>
                                                <div>
                                                    <input  class="reg_bom" type="submit" value="注册" >
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
