<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>music</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" href="font/iconfont.css" th:href="@{/static/font/iconfont.css}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1195775_x0jasqh5bl.css">
    <link rel="stylesheet" href="css/RotationChart.css" th:href="@{/static/css/RotationChart.css}">
    <link rel="stylesheet" href="css/index.css" th:href="@{/static/css/index.css}" >
</head>
<body>
<!--光影-->
<div class="container-fluid color_1 LB" style="position: relative">
    <div class="row inner music_video">
        <div class="text-center">
            <h2>MV</h2>
        </div>
        <div class="carousel-wrap">
            <ul class="carousel">
                <li>
                    3
                </li>
                <li>
                    <div class="mv_container">
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv3.jpg" th:src="@{/static/img/mv3.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv4.jpg" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv5.jpg" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    2
                </li>
                <li>
                    3
                </li>
                <li>
                    1
                </li> 
            </ul>
             
        </div>
        <a class="arrow arrow-left" href="">
            <i class="iconfont icon-icon-bold-arrow-left1"></i>
        </a>
        <a class="arrow arrow-right" href="">
            <i class="iconfont icon-icon-bold-arrow-left"></i>
        </a>
    </div>
</div>


<!--精彩推荐-->
<div class="container-fluid color_2 LB" style="position: relative">
    <div class="row inner Recommend">
        <div class="text-center">
            <h2>精彩推荐</h2>
        </div>
        <div class="carousel-wrap"> 
            <ul class="carousel">
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐1.jpg" alt="">
                    </a>
                </li> 
            </ul>
               
            <ul class="indicators">
                     
                <li class="indicator iconfont icon-hengxian active"></li>
                     
                <li class="indicator iconfont icon-hengxian"></li>
                     
                <li class="indicator iconfont icon-hengxian"></li>
                   
            </ul>
             
        </div>
        <a class="arrow arrow-left" href="">
            <i class="iconfont icon-icon-bold-arrow-left1"></i>
        </a>
        <a class="arrow arrow-right" href="">
            <i class="iconfont icon-icon-bold-arrow-left"></i>
        </a>
    </div>
</div>

<!--排行榜-->
<div class="container-fluid color_1 LB">
    <div class="row inner Ranking">
        <div class="text-center">
            <h2>排行榜</h2>
        </div>
        <div class="Ranking_container">
            <div class="container text-center" style="background-color:#A8E755 ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">新歌</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#427BA2 ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">电音</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#FDB85E ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">华语</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#D85089 ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">日韩</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#4db7bc ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">欧美</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<div class="container-fluid  last_color">
    <div class="row inner">
        <div class="col-lg-3 col-lg-offset-2">
            <h3>下载歌曲</h3>
            <ul class="">
                <li><a href="javascript:;">pc</a></li>
                <li><a href="javascript:;">mac</a></li>
                <li><a href="javascript:;">android</a></li>
                <li><a href="javascript:;">iphone</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>特色项目</h3>
            <ul>
                <li><a href="javascript:;">音乐网站</a></li>
                <li><a href="javascript:;">博客网站</a></li>
                <li><a href="javascript:;">电子商城</a></li>
                <li><a href="javascript:;">旅行网</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>友情链接</h3>
            <ul>
                <li><a href="javascript:;">未来官网</a></li>
            </ul>
        </div>
    </div>
    <div class="inner statement row">
        <div class="text-center">
            <small class="small"><a href="javascript:;">Copyright © 2012 - 2019 未来软件工作室</a></small><br>
            <small class="small">未来软件工作室 版权所有</small>
        </div>
    </div>
</div>

</body>
<script src="js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
<script src="js/index.js" th:src="@{/static/js/index.js}"></script>
<script>



</script>
<script src="js/RotationChart.js"  th:src="@{/static/js/RotationChart.js}"></script>
</html>