<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="css/RotationChart.css" th:href="@{/static/css/RotationChart.css}">
</head>
<body>
<!--头部-->
<div th:replace="webHead::html" ></div>

<!--精彩推荐-->
<div class="container-fluid color_1 LB" style="position: relative">
    <div class="row inner Recommend">
        <div class="text-center">
            <h2>精彩推荐</h2>
        </div>
        <div class="carousel-wrap"> 
            <ul class="carousel">
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐3.jpg" th:src="@{/static/img/精彩推荐3.jpg}" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐1.jpg" th:src="@{/static/img/精彩推荐1.jpg}" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐2.jpg" th:src="@{/static/img/精彩推荐2.jpg}" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐3.jpg" th:src="@{/static/img/精彩推荐3.jpg}" alt="">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="img/精彩推荐1.jpg" th:src="@{/static/img/精彩推荐1.jpg}" alt="">
                    </a>
                </li>
                 
            </ul>
               
            <ul class="indicators">
                     
                <li class="indicator iconfont icon-hengxian active"></li>
                     
                <li class="indicator iconfont icon-hengxian"></li>
                     
                <li class="indicator iconfont icon-hengxian"></li>
                   
            </ul>
             
        </div>
        <a class="arrow arrow-left" href="">
            <i class="iconfont icon-icon-bold-arrow-left1"></i>
        </a>
        <a class="arrow arrow-right" href="">
            <i class="iconfont icon-icon-bold-arrow-left"></i>
        </a>
    </div>
</div>

<!--音乐人-->
<div class="container-fluid color_2" style="position: relative">
    <div class="row inner Artist">
        <div class="text-center">
            <h2>音乐人</h2>
        </div>
        <!--检索：华语、欧美、日韩-->
        <div class="container artist_tab">
            <ul>
                <li>
                    <a href="javascript:;" id="CN_tab">
                        <b>华语</b>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="EM_tab">
                        <b>欧美</b>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="RH_tab">
                        <b>日韩</b>
                    </a>
                </li>
                <li>
                    <a href="./artist.html">
                        <b>了解更多</b>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container artist_container" id="CN">
            <div class="artists">
                <img src="img/陈奕迅.jpg" th:src="@{/static/img/陈奕迅.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="./musics.html">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="./musics.html">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="./musics.html">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="./musics.html">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="./musics.html">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/鹿晗.jpg" th:src="@{/static/img/鹿晗.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/田馥甄.jpg" th:src="@{/static/img/田馥甄.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/张艺兴.jpg" th:src="@{/static/img/张艺兴.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/吴亦凡.jpg" th:src="@{/static/img/吴亦凡.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container artist_container" id="EM">
            <div class="artists">
                <img src="img/CamilaCabello.jpg" th:src="@{/static/img/CamilaCabello.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/鹿晗.jpg" th:src="@{/static/img/鹿晗.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/田馥甄.jpg" th:src="@{/static/img/田馥甄.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/张艺兴.jpg" th:src="@{/static/img/张艺兴.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/JustinTimberlake.jpg" th:src="@{/static/img/JustinTimberlake.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container artist_container" id="RH">
            <div class="artists">
                <img src="img/陈奕迅.jpg" th:src="@{/static/img/陈奕迅.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/鹿晗.jpg" th:src="@{/static/img/鹿晗.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/田馥甄.jpg" th:src="@{/static/img/田馥甄.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/张艺兴.jpg" th:src="@{/static/img/张艺兴.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="artists">
                <img src="img/吴亦凡.jpg" th:src="@{/static/img/吴亦凡.jpg}" alt="">
                <div class="artist_introduce">
                    <h4>name</h4>
                    <h5>代表作：XXX</h5>
                    <p>
                        <i class="iconfont icon-like">number</i>
                    </p>
                </div>
                <div class="artist_works">
                    <h3>热门单曲</h3>
                    <ol>
                        <li>
                            <a href="javascript:;">
                                music1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                music5
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!--光影-->
<div class="container-fluid color_1 LB" style="position: relative">
    <div class="row inner music_video">
        <div class="text-center">
            <a href="./musicVideo.html">
                <h2>MV</h2>
            </a>
        </div>
        <div class="carousel-wrap">
            <ul class="carousel">
                <li>
                    <div class="mv_container">
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv1.jpg" th:src="@{/static/img/mv1.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="./artists.html" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv4.jpg" th:src="@{/static/img/mv4.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="./artists.html" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv5.jpg" th:src="@{/static/img/mv5.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mv_container">
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="./mvPlayer.html" target="_blank">
                                    <img src="img/mv1.jpg" th:src="@{/static/img/mv1.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="./artists.html" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv3.jpg" th:src="@{/static/img/mv3.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv4.jpg" th:src="@{/static/img/mv4.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv5.jpg" th:src="@{/static/img/mv5.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mv_container">
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv5.jpg" th:src="@{/static/img/mv5.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv1.jpg" th:src="@{/static/img/mv1.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv4.jpg" th:src="@{/static/img/mv4.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv3.jpg" th:src="@{/static/img/mv3.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mv_container">
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv1.jpg" th:src="@{/static/img/mv1.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv4.jpg" th:src="@{/static/img/mv4.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv5.jpg" th:src="@{/static/img/mv5.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mv_container">
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv1.jpg" th:src="@{/static/img/mv1.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv2.jpg" th:src="@{/static/img/mv2.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv3.jpg" th:src="@{/static/img/mv3.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv4.jpg" th:src="@{/static/img/mv4.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail">
                            <div class="img_container">
                                <a href="javascript:;">
                                    <img src="img/mv5.jpg" th:src="@{/static/img/mv5.jpg}" alt="...">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>name</h3>
                                <p>播放量</p>
                                <p>
                                    <a href="#" class="btn btn-success" role="button">歌手专区</a>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-like"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
             
        </div>
        <a class="arrow arrow-left" href="">
            <i class="iconfont icon-icon-bold-arrow-left1"></i>
        </a>
        <a class="arrow arrow-right" href="">
            <i class="iconfont icon-icon-bold-arrow-left"></i>
        </a>
    </div>
</div>

<!--排行榜-->
<div class="container-fluid color_2 LB">
    <div class="row inner Ranking">
        <div class="text-center">
            <h2>排行榜</h2>
        </div>
        <div class="Ranking_container">
            <div class="container text-center" style="background-color:#A8E755 ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">新歌</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#427BA2 ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">电音</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#FDB85E ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">华语</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#D85089 ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">日韩</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
            <div class="container text-center" style="background-color:#4db7bc ">
                <h4>巅峰榜</h4>
                <h3><a href="javascript:;">欧美</a></h3>
                <div style="height: 50px">
                    <i class="iconfont icon-startx"></i>
                    <i class="iconfont icon-shengbo"></i>
                </div>
                <ol>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a><br>
                        <a href="javascript:;"></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<div th:replace="webFoot.html"></div>

</div>
</body>
<div th:include="on-load-js::on-load-js"></div>
<script src="js/RotationChart.js" th:src="@{/static/js/RotationChart.js}"></script>
</html>