<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/index.css" th:href="@{/static/css/index.css}">
<link rel="stylesheet" href="/static/css/artist.css" th:href="@{/static/css/artist.css}">
<!--尾部-->
<div class="container-fluid  last_color">
    <div class="row inner">
        <div class="col-lg-3 col-lg-offset-2">
            <h3>下载歌曲</h3>
            <ul class="">
                <li><a href="javascript:;">pc</a></li>
                <li><a href="javascript:;">mac</a></li>
                <li><a href="javascript:;">android</a></li>
                <li><a href="javascript:;">iphone</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>特色项目</h3>
            <ul>
                <li><a href="javascript:;">音乐网站</a></li>
                <li><a href="javascript:;">博客网站</a></li>
                <li><a href="javascript:;">电子商城</a></li>
                <li><a href="javascript:;">旅行网</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>友情链接</h3>
            <ul>
                <li><a href="javascript:;">未来官网</a></li>
            </ul>
        </div>
    </div>
    <div class="inner statement row">
        <div class="text-center">
            <small class="small"><a href="javascript:;">Copyright © 2012 - 2019 未来软件工作室</a></small>
            <br>
            <small class="small">未来软件工作室 版权所有</small>
        </div>
    </div>
</div>