<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/mvPlayer.css" th:href="@{/static/css/mvPlayer.css}">
    <link rel="stylesheet" href="/static/css/Comment.css" th:href="@{/static/css/Comment.css}">
    <link rel="stylesheet" href="../../static/css/musicList.css" th:href="@{/static/css/musicList.css}">
</head>
<body>

<!--头部-->
<div th:replace="webHead.html"></div>

<!--单曲首页-->
<div class="container-fluid  color_2" style="position: relative">
    <div class="row inner">
        <h1>单曲</h1>
        <div class="container-fluid">
            <div class="personal_information">
                <a href="javascript:;" class="pull-left" style="width: 250px">
                    <img src="img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
                <div class="pull-left name">
                    <a href="javascript:;">
                        <h1>
                            name
                        </h1>
                        <h5>
                            <i class="iconfont icon-people1"></i>
                            <b>作者</b>
                        </h5>
                        <h5>播放量：</h5>
                        <h5>收藏量：</h5>
                    </a>
                </div>
            </div>
            <div class="container">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>歌名</th>
                        <th>歌手</th>
                        <th>专辑</th>
                        <th>更多</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="music_list">
                        <td>NAME</td>
                        <td>artistName</td>
                        <td>album</td>
                        <th class="dropdown">
                            <span class="iconfont icon-like"></span>
                            <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false"></span>
                            <ul class="dropdown-menu">
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">
                                        <span class="iconfont icon-tianjia"></span>
                                        添加到...
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="iconfont icon-tianjia"></span>
                                        添加到...
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="iconfont icon-tianjia"></span>
                                        添加到...
                                    </a>
                                </li>
                            </ul>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--评论-->
<div th:replace="webComment::webComment"></div>

<!--尾部-->
<div th:replace="webFoot.html"></div>

</body>
<div th:replace="on-load-js.html"></div>
<script src="../../static/js/musics.js" th:src="@{/static/js/musics.js}"></script>
</html>