<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/musicVideo.css" th:href="@{/static/css/musicVideo.css}">
    <link rel="stylesheet" href="/static/css/mvPlayer.css" th:href="@{/static/css/mvPlayer.css}">
</head>
<body>
<!--头部-->
<div th:replace="webHead::html"></div>
<!--MV-->
<div class="container-fluid color_2" style="position: relative">
    <div class="music_video">
        <div class="text-center">
            <h2>MV</h2>
        </div>
        <div class="video_container">
            <div class="video">
                <video src="../../static/video/火箭少女101-卡路里(《西虹市首富》电影插曲).mp4"
                       th:src="@{/static/video/火箭少女101-卡路里(《西虹市首富》电影插曲).mp4}" controls></video>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid color_2" style="position: relative">
    <h2 style="margin-left: 100px">我喜欢的MV</h2>
    <ul style="width: 100%">
        <li>
            <div class="mv">
                <div class="mv_top">
                    <a href="./mvPlayer.html">
                        <img src="../../static/img/mv_燃烧我的卡路里.jpg" th:src="@{/static/img/mv_燃烧我的卡路里.jpg}" alt="">
                    </a>
                </div>
                <div class="mv_bottom">
                    <h4>music name</h4>
                    <h4 style="color: #999999">artist name</h4>
                    <h4 style="color: #999999" class="mv_playTimes">播放：num</h4>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--评论-->
<div th:replace="webComment.html"></div>

<!--尾部-->
<div th:replace="webFoot.html"></div>


</body>
<div th:replace="on-load-js.html"></div>
<script src="js/mvPlayer.js" th:src="@{/static/js/Comment.js}"></script>
<script src="js/musicVideo.js" th:src="@{/static/js/musicVideo.js}"></script>
</html>