<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/mvPlayer.css" th:href="@{/static/css/mvPlayer.css}">
    <link rel="stylesheet" href="/static/css/Comment.css" th:href="@{/static/css/Comment.css}">
</head>
<body>
<!--头部-->
<div th:replace="webHead::html" ></div>
<!--MV-->
<div class="container-fluid color_2" style="position: relative">
    <div class="music_video">
        <div class="text-center">
            <h2>MV</h2>
        </div>
        <div class="video_container">
            <div class="video">
                <video src="../../static/video/火箭少女101-卡路里(《西虹市首富》电影插曲).mp4" th:src="@{/static/video/火箭少女101-卡路里(《西虹市首富》电影插曲).mp4}" controls></video>
            </div>
        </div>
    </div>
</div>

<!--评论-->
<div class="container-fluid color_1" style="position: relative">
    <div class="row inner Comment">
        <h2>评论</h2>
        <form action="" method="get">
            <textarea name="Comment" id="Comment" cols="30" rows="7" placeholder="请输入你的评论！"></textarea>
            <button type="submit" class="btn btn-primary pull-right">提交评论</button>
        </form>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment_container row">
            <div class="col-lg-1 header_container">
                <a href="javascript:;">
                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{/static/img/头像_邓紫棋.jpg}" alt="">
                </a>
            </div>
            <div class="col-lg-11 comment_content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">啦啦啦</h3>
                    </div>
                    <div class="panel-body">
                        <p>我是你爸爸真伟大</p>
                        <div class="good pull-right">
                            <a href="javascript:;">
                                <span class="iconfont icon-dianzan"></span>
                                <span class="iconfont icon-dianzan1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<div th:replace="webFoot.html"></div>


</body>
<div th:replace="on-load-js.html"></div>
<script src="js/mvPlayer.js" th:src="@{/static/js/Comment.js}"></script>
<script src="js/musicVideo.js" th:src="@{/static/js/musicVideo.js}"></script>
</html>