<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>music</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" href="font/iconfont.css" th:href="@{/static/font/iconfont.css}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1195775_x0jasqh5bl.css">
    <link rel="stylesheet" href="css/RotationChart.css" th:href="@{/static/css/RotationChart.css}">
    <link rel="stylesheet" href="css/index.css" th:href="@{/static/css/index.css}" >
    <link rel="stylesheet" href="css/player.css" th:href="@{/static/css/player.css}" >
</head>
<body>

<div class="player_container">

    <!--//左侧-->
    <div class="menu" id="menu">
        <div class="user">
            <div class="user_img">
                <a href="javascript:;">
                    <img src="" alt="">
                </a>
            </div>
            <div class="user_information">
                <h3>name</h3>
                <a href="javascript:;">
                    <p>关注：num</p>
                </a>
            </div>
        </div>
    </div>

    <!--//右侧-->
    <div class="play">

    </div>
</div>

</body>
</html>