<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/head.html"></head>
<head>
    <link rel="stylesheet" href="/static/css/player.css" th:href="@{/static/css/player.css}">
</head>
<body>

<div class="player_container">

    <!--//左侧-->
    <div class="menu" id="menu">
        <!--用户信息-->
        <div class="user">
            <div class="user_img">
                <a href="javascript:;">
                    <img src="" alt="">
                </a>
            </div>
            <div class="user_information">
                <h3 th:text="${session.userInformation.name}">name</h3>
                <h5 style="padding-left: 20px">
                    <a href="javascript:;">
                        <span class="iconfont icon-people1"></span>

                    </a>
                    <a href="javascript:;">
                        <span class="iconfont icon-music"></span>
                    </a>
                    <a href="javascript:;">
                        <span class="iconfont icon-iconvip"></span>
                    </a>
                </h5>
            </div>
        </div>
        <!--搜索框-->
        <div class="search">
            <form action="http://localhost:8080/FutureMusic_war_exploded/" method="get">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount"></label>
                    <div class="input-group">
                        <div class="input-group-addon iconfont icon-search"></div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="What do you like?">
                        <div class="input-group-addon">
                            <button type="submit">搜索</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="Catalog">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>我喜欢</th>
                    <th>歌名</th>
                    <th>歌手</th>
                </tr>
                </thead>
                <tbody>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>Ehrling</td>
                    <td>Champagne</td>
                    <div class="hide">music/Ehrling-ChampagneOcean.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>最近</td>
                    <td>王小帅</td>
                    <div class="hide">music/最近-王小帅.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>凌晨三点</td>
                    <td>陈硕子</td>
                    <div class="hide">music/凌晨三点.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>Lemon</td>
                    <td>米津玄師</td>
                    <div class="hide">music/米津玄師-Lemon.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>像我这样的人</td>
                    <td>毛不易</td>
                    <div class="hide">music/像我这样的人.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>心墙</td>
                    <td>林俊杰</td>
                    <div class="hide">music/心墙.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>离人愁</td>
                    <td>李袁杰</td>
                    <div class="hide">music/离人愁.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>PLANET</td>
                    <td>ラムジ</td>
                    <div class="hide">music/PLANET.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>说爱你</td>
                    <td>蔡依林</td>
                    <div class="hide">music/说爱你.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                <tr class="music_list">
                    <th scope="row">
                        <span class="iconfont icon-music"></span>
                    </th>
                    <td>往后余生</td>
                    <td>马良</td>
                    <div class="hide">music/往后余生.mp3</div>
                    <th class="dropdown">
                        <span class="iconfont icon-like"></span>
                        <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"></span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-laji"></span>
                                    删除
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="iconfont icon-tianjia"></span>
                                    添加到...
                                </a>
                            </li>
                        </ul>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                <li class="next"><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>

    <!--//右侧-->
    <div class="Play">
        <div class="drag">
            <div class="music_name">
                <h2>MusicName</h2>
                <a href="javascript:;"><p>查看评论</p></a>
            </div>
            <div class="Lyric">
                <!--               歌词---------------------------------------->
            </div>
            <div class="Play_control">
                <audio src="../../static/music/Ehrling-ChampagneOcean.mp3" id="audio"></audio>
                <div class="foot">
                    <div class="control_left">
                        <i class="iconfont icon-yduishangyiqu" title="上一首"></i>
                        <span class="play"><i class="iconfont icon-bofang" title="播放"></i></span>
                        <i class="iconfont icon-yduixiayiqu" title="下一首"></i>
                    </div>
                    <div class="Progress">
                        <div class="current_time">00:00</div>
                        <div class="progress_range">
                            <div class="range"></div>
                            <div class="circle"></div>
                        </div>
                        <span class="total_time">00:00</span>
                    </div>
                    <div class="model">
                        <div class="volume"><span class="iconfont icon-yinliangxiaoyinliangxiao" title="静音"></span>
                        </div>
                        <div class="volume_range">
                            <div class="range"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="bofangModel"><span class="iconfont icon-suijibofang" title="随机播放"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="on-load-js::on-load-js"></div>
<script src="js/audio.js" th:src="@{/static/js/audio.js}"></script>
<script src="js/player.js" th:src="@{/static/js/player.js}"></script>
</html>