<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/head.html"></head>
<body>
  <!--  <td><a href="#" th:text="${musicList.list[0].singer.name}">abcd</a></td><br>
    <td><a href="#" th:text="${musicList.list[0].singer.headPortrait}">abcd</a></td><br>
    <td><a href="#" th:text="${musicList.list[0].singer.mailbox}">abcd</a></td><br>
&lt;!&ndash;    <td><a href="#" th:text="${musicList}">abcd</a></td>&ndash;&gt;
</tr>-->
<div th:object="${musicListPage}">
    <p>Name: <span th:text="*{list[0]}">Sebastian</span>.</p>
    <p>Name: <span th:text="*{pageSize}">Sebastian</span>.</p>
    <p>Name: <span th:text="*{pageNum}">Sebastian</span>.</p>
    <p>Surname: <span th:text="*{startRow}">Pepper</span>.</p>
    <p>Surname: <span th:text="*{endRow}">Pepper</span>.</p>
    <p>Surname: <span th:text="*{total}">Pepper</span>.</p>
    <p>Surname: <span th:text="*{pages}">Pepper</span>.</p>
    <div th:text="*{list[0]}">
        <p>歌手遍历:</p>
        <tr th:each="prod: *{singer}">
            <td th:text="*{name}">Oranges</td>
            <td th:text="*{headPortrait}">0.99</td>
        </tr>
        <p>: <span th:text="*{endRow}">Pepper</span>.</p>
        <p>分类信息: <span th:text="*{classification}">Pepper</span>.</p>
        <br>
        <br>
        <p>歌曲: <span th:text="*{songList}">Pepper</span>.</p>
        <p>播放次数: <span th:text="*{songListPlayCount}">Pepper</span>.</p>
    </div>
</div>
</body>
</html>