<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--评论-->
<link rel="stylesheet" href="../../static/css/Comment.css" th:href="@{/static/css/Comment.css}">

<div class="container-fluid color_1" th:fragment="webComment" th:each="c:${musicVideoInformation}"  style="position: relative">
<!--    <div class="row inner Comment">-->
<!--        <h2>评论</h2>-->
<!--        <form action="" method="get">-->
<!--            <textarea name="Comment" class="CommentForm" cols="30" rows="7" placeholder="请输入你的评论！"></textarea>-->
<!--            <button type="submit" class="btn btn-primary pull-right">提交评论</button>-->
<!--        </form>-->
<!--&lt;!&ndash;        <div class="comment_container row" >&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-lg-1 header_container" th:each="comment:${c.value}">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="javascript:;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="../../static/img/头像_邓紫棋.jpg" th:src="@{${comment.commentPhoto}}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-lg-11 comment_content">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="panel panel-success">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="panel-heading">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h3 class="panel-title" th:text="${comment.commentUserName}">啦啦啦</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="panel-body">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p th:text="${comment.content}">1316546</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="good pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="javascript:;" class="dianzan">&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="iconfont icon-dianzan"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="iconfont icon-dianzan1"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="javascript:;">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="iconfont icon-comment"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container comment_reply">&ndash;&gt;-->
<!--&lt;!&ndash;                <form action="" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                    <textarea name="Comment" class="CommentForm" cols="30" rows="3" placeholder="回复他的评论！"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="submit" class="btn btn-primary pull-right">提交评论</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
</div>
<script src="js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
<script src="../../static/js/webComment.js" th:src="@{/static/js/webComment.js}"></script>