<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
<body>
<script>
    window.onload = function () {
        $("#aa").on("click", function () {
            //得到4个条件存成数组
            $.ajax({
                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                type: "post",
                url: "token",
                data: {
                    "value": value
                },
                dataType: "json",
                success: function (data, status) {
                    alert(data)
                    // 返回PageInfo
                }
            });
        });
    };
</script>
<script type="text/javascript">
    i = 1;
    j = 1;
    $(document).ready(function(){
        $("#btn_add1").click(function(){
            document.getElementById("newUpload1").innerHTML+='<div id="div_'+i+'"><input  name="file" type="file"  /><input type="button" value="删除"  onclick="del_1('+i+')"/></div>';
            i = i + 1;
        });
        $("#btn_add2").click(function(){
            document.getElementById("newUpload2").innerHTML+='<div id="div_'+j+'"><input  name="file_'+j+'" type="file"  /><input type="button" value="删除"  onclick="del_2('+j+')"/></div>';
            j = j + 1;
        });
    });
    function del_1(o){
        document.getElementById("newUpload1").removeChild(document.getElementById("div_"+o));
    }
    function del_2(o){
        document.getElementById("newUpload2").removeChild(document.getElementById("div_"+o));
    }

</script>
<!--<form method="post" action="/token">-->
<!--    <input type="text" name="value"/>-->
<!--    <input type="submit" value="提交">-->
<!--</form>-->
<form name="userForm2" action="demo" enctype="multipart/form-data" method="post">
    <div id="newUpload2">
        <input type="file" name="file">
        <input type="text" name="text">
    </div>
    <input type="button" id="btn_add2" value="增加一行" >
    <input type="submit" value="上传" >
    <img src="" alt="">
</body>
</html>