<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mailbox_verification</title>
    <link rel="stylesheet" th:href="@{/static/css/sysytem/security_center.css}" >
</head>
<body>

    <div class="input" th:fragment="mailboxVerification">
        <h3>请输入验证码<a href="/safetyCenterPage">返回</a></h3>
        <input type="text" class="zhanghao">
        <button class="btn btn-warning btnAcc btn-sm" id="verificationCode">点击获取验证码</button>
        <input type="submit" id="submitVerificationCode" value="确认" class="submit">
        <style>
            .identityDetermination{
                background: linear-gradient(to right, rgb(0, 60, 255) , rgba(255, 255, 255, 0.445)) !important;
            }
        </style>
    </div>
</body>
</html>