<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encrypted_authentication</title>
    <link rel="stylesheet" th:href="@{/static/css/sysytem/security_center.css}" >
</head>

<body>
    <div class="input" th:fragment="passwordVerification">
        <h3>请输入原密码 </h3>
        <input type="password" class="zhanghao">
        <input type="submit" id="submitOriginalPassword" value="确认" class="tijiao_y">
        <button class="forget_y"><a href="/mailboxBindingMailboxVerification">忘记原密码</a></button>
        <style>
            .identityDetermination{
                background: linear-gradient(to right, rgb(0, 60, 255) , rgba(255, 255, 255, 0.445)) !important;
            }
        </style>
    </div>
</body>
</html>