<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/artist.css" th:href="@{/static/css/artist.css}">
    <link rel="stylesheet" href="/static/css/musicVideo.css" th:href="@{/static/css/musicVideo.css}">
    <link rel="stylesheet" href="../../static/css/fenYe.css" th:href="@{/static/css/fenYe.css}">
</head>
<body>

<!--头部-->
<div th:replace="webHead.html"></div>

<div class="container-fluid color_1" style="position: relative;padding: 0;top: -10px">
    <img src="" th:src="@{/static/img/albumBG.jpg}" style="width: 100%" alt="">
</div>

<!--全部歌单-->
<div class="container-fluid color_2" style="position: relative">
    <div class="row inner Artist">
        <div class="text-center">
            <h2>分类歌单</h2>
        </div>
<!--        <div class="col-lg-2">-->
<!--            <h4>全部歌单</h4>-->
<!--            <ul class="nav nav-pills nav-stacked artist_menu">-->
<!--                <li role="presentation" class="active">-->
<!--                    <a href="#">语种</a>-->
<!--                    <ul class="nav nav-pills nav-stacked">-->
<!--                        <li><a href="#">华语</a></li>-->
<!--                        <li><a href="#">英语</a></li>-->
<!--                        <li><a href="#">粤语</a></li>-->
<!--                        <li><a href="#">日语</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li role="presentation" class="active">-->
<!--                    <a href="#">心情</a>-->
<!--                    <ul class="nav nav-pills nav-stacked">-->
<!--                        <li><a href="#">伤感</a></li>-->
<!--                        <li><a href="#">安静</a></li>-->
<!--                        <li><a href="#">快乐</a></li>-->
<!--                        <li><a href="#">治愈</a></li>-->
<!--                        <li><a href="#">励志</a></li>-->
<!--                        <li><a href="#">甜蜜</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li role="presentation" class="active">-->
<!--                    <a href="#">场景</a>-->
<!--                    <ul class="nav nav-pills nav-stacked">-->
<!--                        <li><a href="#">睡前</a></li>-->
<!--                        <li><a href="#">夜店</a></li>-->
<!--                        <li><a href="#">学习</a></li>-->
<!--                        <li><a href="#">运动</a></li>-->
<!--                        <li><a href="#">开车</a></li>-->
<!--                        <li><a href="#">约会</a></li>-->
<!--                        <li><a href="#">旅行</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="col-lg-12" id="artist_list">
            <div class="mvS">
                <ul>
                    <li th:each="list:${pageInfo.list}">
                        <div class="mv">
                            <div class="list_top">
                                <a href="./musicList.html" th:href="@{/user/showMusicSongList(id=${list.id})}">
                                    <img th:src="@{${list.picture}}" src="../../static/img/mv_燃烧我的卡路里.jpg" alt="">
                                </a>
                            </div>
                            <div class="list_bottom">
                                <h4 th:text="${list.name}">music name</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                当前第<span th:text="${pageInfo.pageNum}"></span>页
                <button class="btn btn-default">
                    <a th:href="@{/musicVideoPage(page=1)}">首页</a>
                </button>
                <span th:if="${pageInfo.hasPreviousPage}">
                        <button class="btn">
                            <a th:href="@{/musicVideoPage(page=${pageInfo.pageNum-1})}">&lt;上一页</a>
                        </button>
                    </span>
                <span th:if="${!pageInfo.hasPreviousPage}">
                        <button class="btn" disabled="disabled">&lt;上一页</button>
                    </span>
                <button class="btn btn-default" th:each="list,tmp:${pages}">
                    <a th:href="@{/musicVideoPage(page=${tmp.count})}" th:text="${tmp.count}"></a>
                </button>
                <span th:if="${pageInfo.hasNextPage}">
                        <button class="btn">
                            <a th:href="@{/musicVideoPage(page=${pageInfo.pageNum-1})}">下一页&gt;</a>
                        </button>
                    </span>
                <span th:if="${!pageInfo.hasNextPage}">
                        <button class="btn" disabled="disabled">下一页&gt;</button>
                    </span>
                <button class="btn btn-default">
                    <a th:href="@{/musicVideoPage(page=${pageInfo.pages})}">尾页</a>
                </button>
                一共<span th:text="${pageCount}"></span>页
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<div th:replace="webFoot.html"></div>

</body>
<div th:replace="on-load-js::on-load-js"></div>
<script src="../../static/js/personal.js" th:src="@{/static/js/personal.js}"></script>
</html>