<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/artist.css" th:href="@{/static/css/artist.css}">
    <link rel="stylesheet" href="../../static/css/fenYe.css" th:href="@{/static/css/fenYe.css}">
</head>
<body>

<!--头部-->
<div th:replace="webHead.html"></div>

<div class="container-fluid color_1" style="position: relative;padding: 0;top: -10px">
    <img src="" th:src="@{/static/img/artistBG.jpg}" style="width: 100%" alt="">
</div>

<!--音乐人-->
<div class="container-fluid color_2" style="position: relative">
    <div class="row inner Artist">
        <div class="text-center">
            <h2>音乐</h2>
        </div>

        <div class="col-lg-12" id="artist_list">
            <div class="artistS">
                <ul>
                    <li th:each="list:${pageInfo.list}">
                        <div class="artist">
                            <div class="artist_top">
                                <a th:href="@{/user/playMusicSongList(id=${list.albumId},musicId=${list.id})}" href="javascript:;" class="artist_left pull-left">
                                    <img th:src="@{${list.picture}}" src="img/头像_邓紫棋.jpg" alt="">
                                </a>
                            </div>
                            <div class="artist_bottom">
                                    <h4 th:text="${list.name}">artistname</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                当前第<span th:text="${pageInfo.pageNum}"></span>页
                <button class="btn btn-default">
                    <a th:href="@{/musicPage(page=1,condition=${condition})}">首页</a>
                </button>
                <span th:if="${pageInfo.hasPreviousPage}">
                        <button class="btn">
                            <a th:href="@{/musicPage(page=${pageInfo.pageNum-1},condition=${condition})}">&lt;上一页</a>
                        </button>
                    </span>
                <span th:if="${!pageInfo.hasPreviousPage}">
                        <button class="btn" disabled="disabled">&lt;上一页</button>
                    </span>
                <button class="btn btn-default" th:each="list,tmp:${pages}">
                    <a th:href="@{/musicPage(page=${tmp.count},condition=${condition})}" th:text="${tmp.count}"></a>
                </button>
                <span th:if="${pageInfo.hasNextPage}">
                        <button class="btn">
                            <a th:href="@{/musicPage(page=${pageInfo.pageNum-1},condition=${condition})}">下一页&gt;</a>
                        </button>
                    </span>
                <span th:if="${!pageInfo.hasNextPage}">
                        <button class="btn" disabled="disabled">下一页&gt;</button>
                    </span>
                <button class="btn btn-default">
                    <a th:href="@{/musicPage(page=${pageInfo.pages},condition=${condition})}">尾页</a>
                </button>
                一共<span th:text="${pageCount}"></span>页
            </div>
<!--            <nav aria-label="Page navigation">-->
<!--                <ul class="pagination pagination-lg pull-right">-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li><a href="#">3</a></li>-->
<!--                    <li><a href="#">4</a></li>-->
<!--                    <li><a href="#">5</a></li>-->
<!--                    <li>-->
<!--                        <a href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
    </div>
</div>


<!--尾部-->
<div th:replace="webFoot.html"></div>

</body>
<div th:replace="on-load-js::html"></div>
<script src="js/page.js" th:src="@{/static/js/page.js}" ></script>
<script src="js/artist.js" th:src="@{/static/js/artist.js}"></script>
</html>