<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/artist.css" th:href="@{/static/css/artist.css}">
    <link rel="stylesheet" href="/static/css/musicVideo.css" th:href="@{/static/css/musicVideo.css}">
    <link rel="stylesheet" href="../../static/css/fenYe.css" th:href="@{/static/css/fenYe.css}">
</head>
<body>

<!--头部-->
<div th:replace="webHead::html"></div>

<div class="container-fluid color_1" style="position: relative;padding: 0;top: -10px">
    <img src="" th:src="@{/static/img/musicVideoBG.jpg}" style="width: 100%" alt="">
</div>

<!--MV-->
<div class="container-fluid color_2" style="position: relative">
    <div class="row inner music_video">
        <div class="text-center">
            <h2>MV</h2>
        </div>
        <div class="col-lg-12" id="mv_list">
            <div class="mvS">
                <ul>
                    <li th:each="list:${pageInfo.list}">
                        <div class="mv">
                            <div class="mv_top">
                                <a th:href="@{/user/playMusicVideoId(id=${list.id})}">
                                    <img th:src="@{${list.picture}}" src="/static/img/mv_燃烧我的卡路里.jpg" alt="">
                                </a>
                            </div>
                            <div class="mv_bottom">
                                <h4 th:text="${list.name}">music name</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <div>
                    当前第<span th:text="${pageInfo.pageNum}"></span>页
                    <button class="btn">
                        <a th:href="@{/musicVideoPage(page=1)}">首页</a>
                    </button>
                    <span th:if="${pageInfo.hasPreviousPage}">
                        <button>
                            <a th:href="@{/musicVideoPage(page=${pageInfo.pageNum-1})}">&lt;上一页</a>
                        </button>
                    </span>
                    <span th:if="${!pageInfo.hasPreviousPage}">
                        <button disabled="disabled">&lt;上一页</button>
                    </span>
                    <button th:each="list,tmp:${pages}">
                        <a th:href="@{/musicVideoPage(page=${tmp.count})}" th:text="${tmp.count}"></a>
                    </button>
                    <span th:if="${pageInfo.hasNextPage}">
                        <button>
                            <a th:href="@{/musicVideoPage(page=${pageInfo.pageNum-1})}">下一页&gt;</a>
                        </button>
                    </span>
                    <span th:if="${!pageInfo.hasNextPage}">
                        <button disabled="disabled">下一页&gt;</button>
                    </span>
                    <button>
                        <a th:href="@{/musicVideoPage(page=${pageInfo.pages})}">尾页</a>
                    </button>
            </div>
            <!--            <nav aria-label="Page navigation">-->
            <!--                <ul class="pagination pagination-lg pull-right">-->
            <!--                    <li>-->
            <!--                        <a href="#" aria-label="Previous">-->
            <!--                            <span aria-hidden="true">&laquo;</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                    <li><a href="#">1</a></li>-->
            <!--                    <li><a href="#">2</a></li>-->
            <!--                    <li><a href="#">3</a></li>-->
            <!--                    <li><a href="#">4</a></li>-->
            <!--                    <li><a href="#">5</a></li>-->
            <!--                    <li>-->
            <!--                        <a href="#" aria-label="Next">-->
            <!--                            <span aria-hidden="true">&raquo;</span>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </nav>-->
        </div>
    </div>
</div>

<!--尾部-->
<div th:replace="webFoot.html"></div>


</body>
<span th:include="on-load-js.html"></span>
<script src="js/jquery-1.9.1.js" th:src="@{/static/js/jquery-1.9.1.js}"></script>
<script src="js/back_system.js" th:src="@{/static/js/back_system.js}"></script>
<script src="js/page.js" th:src="@{/static/js/page.js}"></script>
<script src="js/musicVideo.js" th:src="@{/static/js/musicVideo.js}"></script>
</html>