.nav-stacked ul{
    border-radius: 5px;
    margin-left: 10px;
}
.artistS,.mvS{
    width: 100%;
    margin-top: 20px;
}
.artistS ul,.mvS ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.mv{
    margin-bottom: 40px;
}
.artist{
    margin: 20px 40px;
}
.artist *,.mv *{
    font-family: "AkkuratPro-Regular", Helvetica, Arial, sans-serif;
}
.artist .artist_top{
    overflow: hidden;
}
.artist .artist_left{
    width: 160px;
    height: 160px;
}
.artist .artist_left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.artist .artist_right{
    padding-left: 20px;
}
.artist .artist_right h5{
    cursor: default;
    font-size: 16px;
    font-weight: 300;
    color: #337AB7;
}
.artist ol li{
    list-style-type: decimal;
    font-size: 15px;
}
.artist_bottom{
    width: 160px;
    height: 18px;
    line-height: 16px;
    margin-top: 22px;
    text-align: center;
}