.zzsc{
    margin:0 auto;
    width:580px;
    height:80px;
    margin-top: 30px;
}
.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    background: white;
}
.page .pageItem{
    border: solid thin rgba(0,0,0,0.1);
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin rgba(0,0,0,0.1);
    margin: 5px;
    background: linear-gradient(to right,gray,lightgray);
    color:white;
}
.page .pageItem:hover {
    border: solid thin #0099FF;
    transition: 1s;
    background: linear-gradient(to right,lightgray, lemonchiffon);
}
.page .pageItemDisable{
    border: solid thin rgba(0,0,0,0.1);
    margin: 5px;
}