.mv .mv_top{
    width: 250px;
    height: 150px;
    overflow: hidden;
}
.mv .mv_top img{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.mv .mv_top img:hover{
    transform: scale(1.2,1.2);
    opacity: 0.6;
    transition: 0.2s;
}
.mv .mv_bottom{
    width: 250px;
    margin-top: 5px;
}
.mv .mv_bottom h4{
    margin: 2px 0;
    font-weight: 300;
    font-size: 14px;
}