.music_video .video_container{
    width: 100%;
    background-color: #333;
}
.music_video .video_container .video{
    margin: 0 auto;
    width: 90%;
}
.music_video video{
    width: 100%;
    outline: none;
}
#Comment{
    width: 100%;
    resize: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px 10px;
    color: #999;
    background-color: #F5F5F5;
    outline: none;
}
.Comment .comment_container{
    margin-top: 50px;
}
.Comment .comment_container .header_container{
    width: 80px;
    height: 80px;
}
.Comment .comment_container .header_container img{
    width: 100%;
}
.Comment .comment_container .comment_content .panel-body{
    padding-bottom: 5px;
}
.Comment .comment_container .comment_content .panel-body .iconfont{
    font-size: 25px;
}
.icon-dianzan1{
    color: #ffc537;
    display: none;
}