.music_video .video_container{
    width: 100%;
    background-color: #333;
}
.music_video .video_container .video{
    margin: 0 auto;
    width: 90%;
}
.music_video video{
    width: 100%;
    outline: none;
}
.ILike ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.ILike .mv{
    margin: 10px 5px;
}