<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="myFollow" th:fragment="follow"  class="personalCenterTab">
    <style>
        .followa{
            color: #555;
            background-color: #e7e7e7;
                 }
    </style>
    <ul class="container">
        <li th:each="user:${users}">
            <div class="follow">
                    <a th:href="@{/user/otherUserPage(id=${user.id})}">
                <div class="follow_top">
                        <img style="width:160px;" src="/static/img/头像_邓紫棋.jpg" th:src="${user.headPortrait}"  alt="">
                </div>
                <div class="follow_bottom">
                        <h3 class="text-center" th:text="${user.name}" >artistname</h3>
<!--                        <h4 class="text-center">关注：2万</h4>-->
                </div>
                    </a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>

