<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="myList" th:fragment="songList" class="personalCenterTab">
    <style>
        .songLista {
            color: #555;
            background-color: #e7e7e7;
        }
    </style>

    <button type="button" class="btn btn-primary btn-sm " data-toggle="modal"
            data-target="#add">添加歌单
    </button>
    <!--添加歌单信息-->
    <div class="modal fade" id="add" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">添加歌单<span class="promptInformation" style="color: red"></span></h4>
                </div>
                <div class="modal-body">
                    <!--存放添加音乐的信息-->
                    <div class="form-group">
                        <label
                                class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-9">
                            <input id="nameAdd" class="form-control "
                                   placeholder="1-15个字符">
                        </div>
                        <br> <br> <br>
                        <label class="col-sm-2 control-label">介绍</label>
                        <div class="col-sm-9">
                            <input id="activityAdd" class="form-control " placeholder="1-300个字符">
                        </div>
                        <form action="#" id="selectFileAdd" enctype="multipart/form-data">
                            <br> <br> <br> <label
                                class="col-sm-2 control-label">封面图片</label>
                            <div class="col-sm-9">
                                <input name="file" type="file" class="form-control ">
                            </div>
                            <br> <br> <br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <input type="submit" data-value="1" class="btn btn-primary addAlbum" value="保存"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>我的歌单</th>
            <th>曲目数</th>
            <th>收藏量</th>
            <th>播放量</th>
            <th>more</th>
        </tr>
        </thead>
        <tbody>
        <tr class="personal_list" th:each="songList:${songList}">
            <td>
                <div>
                    <a th:href="@{/user/showMusicSongList(id=${songList.id})}">
                        <div style="width: 50px;display: inline-block">
                            <img src="img/头像_邓紫棋.jpg" th:src="@{${songList.picture}}" alt="">
                        </div>
                        <span th:text="${songList.name}">name</span>
                    </a>
                </div>
            </td>
            <td>
                <span><span th:text="${songList.type}">2</span>次</span>
            </td>
            <td>
                <span><span th:text="${songList.activity}">2</span>次</span>
            </td>
            <td>
                <span><span th:text="${songList.classificationId}">2</span>次</span>
            </td>
            <th class="dropdown">
                <span th:if="${songList.classificationId!=1}">
                    <span th:data-id="${songList.id}" class="iconfont icon-like likeMusicList"></span>
                </span>
                <span th:if="${songList.classificationId==1}">
                    <span th:data-id="${songList.id}" class="iconfont icon-like like likeMusicList"></span>
                </span>
                <span type="button" class="iconfont icon-more dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{/user/showMusicSongList(id=${songList.id})}">
                            <span class="iconfont icon-laji"></span>
                            详细
                        </a>
                    </li>
                    <!--                            <li role="separator" class="divider"></li>-->
                </ul>
            </th>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>