<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/musicVideo.css" th:href="@{/static/css/musicVideo.css}">
    <link rel="stylesheet" href="/static/css/mvPlayer.css" th:href="@{/static/css/mvPlayer.css}">
</head>
<body>
<!--头部-->
<div th:replace="webHead::html"></div>
<!--MV-->
<div class="container-fluid color_2" style="position: relative">
    <div class="music_video">
        <div class="text-center">
            <h2>MV</h2>
        </div>
        <div class="video_container">
            <div class="video">
                <video
                       controls></video>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid color_2" style="position: relative">
    <div class="row inner ILike">
        <!--        收藏此MV-->
        <i class="iconfont icon-like likeMusicVideo" style="font-size: 30px"></i>收藏这个MV&nbsp;&nbsp;
        <a th:href="@{/user/musicPage}" class="iconfont icon-music payMusic" style="font-size: 30px"><small style="font-size: 14px;font-weight: 400">购买这个MV</small></a>
        <h2 th:data-id="${musicVideoId}">我喜欢的MV</h2>
        <ul class="container">
            <li class="ILikeMusicVideo" th:each="musicVideo:${musicVideoList}">
                <div class="mv" th:data-id="${musicVideo.id}">
                    <div class="mv_top">
                        <a href="./mvPlayer.html" th:href="@{playCollectMusicVideo(musicVideoId=${musicVideo.id})}">
                            <img th:src="@{${musicVideo.picture}}" alt="">
                        </a>
                    </div>
                    <div class="mv_bottom">
                        <h4 th:text="${musicVideo.name}">music name</h4>
                        <span th:if="${musicVideo.classificationId!=1}">
                            <span th:data-id="${musicVideo.id}" class="iconfont icon-like likeMusicVideo"></span>
                        </span>
                        <span th:if="${musicVideo.classificationId==1}">
                            <span th:data-id="${musicVideo.id}" class="iconfont icon-like like likeMusicVideo"></span>
                        </span>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
<!--&lt;!&ndash;评论&ndash;&gt;-->
<!--<div th:replace="webComment.html"></div>-->

<!--尾部-->
<div th:replace="webFoot.html"></div>


</body>
<div th:replace="on-load-js.html"></div>
<script src="js/musicVideo.js" th:src="@{/static/js/mvPlayer.js}"></script>
<script src="js/musicVideo.js" th:src="@{/static/js/musicVideo.js}"></script>
</html>