<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/goumaiyinyue.css">
    <title>购买音乐</title>
</head>

<body>
<div class="pay_nav" th:fragment="music">
    <style>
        .music {
            border-bottom: 5px solid #000;
        }
    </style>
    <h2 th:text="${name}"></h2>
    <span th:if="${select==null}">
        <div class="contain">
           <div class="img">
                <img th:src="@{music.picture}" alt="">
           </div>
           <div class="message">
               <div class="name" th:text="${music.name}">喜欢你 </div>
               <div class="price">

                       <span class="type">原价：</span>
                       <i th:text="${music.price}">6元</i>
                   <br>
                   <span th:if="${type=='1'}">
                       <span class="type">现价：</span>
                       <span class="price" th:text="${music.lyricPath}">4元</span>
                   </span>
                   <span th:if="${type=='2'}">
                       <span class="type">现价：</span>
                       <span class="price" th:text="${music.path}">4元</span>
                   </span>
               </div>
               <a href="#" id="purchase" th:data-id="${id}" th:data-type="${type}" class="queren">确认购买</a>
           </div>
        </div>
            </span>
    <h2 th:if="${select!=null}" th:text="${select}"></h2>
</div>
</body>

</html>