<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//ED"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ClassificationMapper">
    <select id="selectListClassification" resultMap="classification">
        select * from tb_classification
        <where>
            <if test='id!=0'>
                classification_id=#{id}
            </if>
            <if test='languages!=null and languages!=""'>
                and classification_languages=#{languages}
            </if>
            <if test='region!=null and region!=""'>
                and classification_region=#{region}
            </if>
            <if test='gender!=null and gender!=""'>
                and classification_gender=#{gender}
            </if>
            <if test='type!=null and type!=""'>
                and classification_type=#{type}
            </if>
        </where>
    </select>

    <select id="selectClassificationValue"  parameterType="Classification" resultType="String" >
        select
            <if test='languages!=null and languages!=""'>
                 classification_languages
            </if>
            <if test='region!=null and region!=""'>
                 classification_region
            </if>
            <if test='gender!=null and gender!=""'>
                 classification_gender
            </if>
            <if test='type!=null and type!=""'>
                 classification_type
            </if>
        from tb_classification
    </select>
    <insert id="insertClassification" parameterType="Classification">
         insert into tb_classification(classification_languages,classification_region,classification_gender,classification_type)
          values(#{languages},#{region},#{gender},#{type})
    </insert>
    <delete id="deleteClassification" parameterType="Classification" >
        delete from tb_classification
        <where>
            <if test='languages!=null and languages!=""'>
                classification_languages=#{languages}
            </if>
            <if test='region!=null and region!=""'>
                or classification_region=#{region}
            </if>
            <if test='gender!=null and gender!=""'>
                or classification_gender=#{gender}
            </if>
            <if test='type!=null and type!=""'>
                or classification_type=#{type}
            </if>
        </where>
    </delete>


    <resultMap id="classification" type="Classification">
        <id column="classification_id" property="id"/>
        <result column="classification_languages" property="languages"/>
        <result column="classification_region" property="region"/>
        <result column="classification_gender" property="gender"/>
        <result column="classification_type" property="type"/>
    </resultMap>
</mapper>
