<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//ED"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CommentMapper">
    <select id="selectListComment" parameterType="Comment" resultMap="comment">
        select * from tb_comment
        <where>
            <if test='id!=0'>
                comment_id=#{id}
            </if>
             <if test='musicId!=0'>
                comment_music_id=#{musicId}
            </if>
            <if test='type!=0'>
                and comment_type=#{type}
            </if>
            <if test='userId!=null and userId!=""'>
                and comment_user_id=#{userId}
            </if>
             <if test='reply!=0'>
                and comment_reply=#{reply}
            </if>
        </where>
    </select>
    <insert id="insertComment" parameterType="Comment">
         insert into tb_comment(comment_music_id,comment_type,comment_user_id,comment_content,comment_date,
         comment_reply,comment_fabulous)
          values(#{musicId},#{type},#{userId},#{content},#{date},#{reply},#{fabulous})
    </insert>
    <update id="updateComment" parameterType="Comment">
        update tb_comment set comment_fabulous=#{fabulous}
        where comment_id=#{id}
    </update>
    <delete id="deleteComment" parameterType="Integer" >
        delete from tb_comment where comment_id=#{value}
    </delete>
    <resultMap id="comment" type="Comment">
        <id column="comment_id" property="id"/>
        <result column="comment_music_id" property="musicId"/>
        <result column="comment_type" property="type"/>
        <result column="comment_user_id" property="userId"/>
        <result column="comment_content" property="content"/>
        <result column="comment_date" property="date"/>
        <result column="comment_reply" property="reply"/>
        <result column="comment_fabulous" property="fabulous"/>
    </resultMap>
</mapper>
