<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//ED"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MusicVideoMapper">
    <select id="selectListMusicVideo" parameterType="MusicVideo" resultMap="musicVideo">
        select * from tb_music_video
        <where>
            <if test='id!=0'>
                music_video_id=#{id}
            </if>
            <if test='name!=null and name !=""'>
                and music_video_name like "%"#{name}"%"
            </if>
            <if test='level!=0'>
                and music_video_level=#{level}
            </if>
            <if test='singerId!=0'>
                and music_video_singer_id=#{singerId}
            </if>
            <if test='classificationId!=0'>
                and music_video_classification_id=#{classificationId}
            </if>
            <if test='activity!=0'>
                and music_video_activity=#{activity}
            </if>
            <if test='available!=0'>
                and music_video_available=#{available}
            </if>
            <if test='playCount!=0'>
                and music_video_play_count=#{playCount} order by music_video_play_count
            </if>
        </where>
    </select>

    <select id="listIdSelectListMusicVideo" parameterType="Integer" resultMap="musicVideo">
        select * from tb_music_video
        <where>
            <foreach collection="list" item="value" separator="," open="music_video_id in(" close=")">
                #{value}
            </foreach>
        </where>
    </select>
    <insert id="insertMusicVideo" parameterType="MusicVideo">
         insert into tb_music_video (music_video_name,music_video_path,music_video_introduction,music_video_date,
         music_video_level,music_video_price,music_video_music_id,music_video_singer_id,music_video_classification_id,
         music_video_activity,music_video_available,music_video_play_count)
         values(#{name},#{path},#{introduction},#{date},#{level},#{price},#{musicId},
         #{singerId},#{classificationId},#{activity},#{available},#{playCount})
    </insert>
    <update id="updateMusicVideo" parameterType="MusicVideo">
        update tb_music_video set music_video_name=#{name},music_video_path=#{path},music_video_introduction=#{introduction},
        music_video_date=#{date},music_video_level=#{level},music_video_price=#{price},music_video_music_id=#{musicId},
        music_video_singer_id=#{singerId},music_video_classification_id=#{classificationId},music_video_activity=#{activity},
        music_video_available=#{available},music_video_play_count=#{playCount} where music_video_id=#{id}
    </update>


    <resultMap id="musicVideo" type="MusicVideo">
        <id column="music_video_id" property="id"/>
        <result column="music_video_name" property="name"/>
        <result column="music_video_path" property="path"/>
        <result column="music_video_introduction" property="introduction"/>
        <result column="music_video_date" property="date"/>
        <result column="music_video_level" property="level"/>
        <result column="music_video_price" property="price"/>
        <result column="music_video_music_id" property="musicId"/>
        <result column="music_video_singer_id" property="singerId"/>
        <result column="music_video_classification_id" property="classificationId"/>
        <result column="music_video_activity" property="activity"/>
        <result column="music_video_available" property="available"/>
        <result column="music_video_play_count" property="playCount"/>
    </resultMap>
</mapper>
