<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//ED"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SongListCollectMapper">
    <select id="selectListSongListCollect" parameterType="SongListCollect" resultMap="songListCollect">
        select * from tb_song_list_collect
        <where>
            <if test='userId!=0'>
                song_list_collect_user_id=#{userId}
            </if>
            <if test='musicId!=0'>
                and song_list_collect_music_id=#{musicId}
            </if>
            <if test='type!=0'>
                and song_list_collect_type=#{type}
            </if>
        </where>
    </select>
    <select id="selectUserSongListCollectCount" parameterType="SongListCollect" resultType="Integer">
        select count(*) from tb_song_list_collect
        <where>
            <if test='userId!=0'>
                song_list_collect_user_id=#{userId}
            </if>
            <if test='type!=0'>
                and song_list_collect_type=#{type}
            </if>
            <if test='musicId!=0'>
                and song_list_collect_music_id=#{musicId}
            </if>
        </where>
    </select>
    <insert id="insertSongListCollect" parameterType="SongListCollect">
         insert into tb_song_list_collect(song_list_collect_music_id,song_list_collect_user_id,song_list_collect_classification_id,
         song_list_collect_user_collect_id,song_list_collect_type,song_list_collect_date)
         values(#{musicId},#{userId},#{classificationId},#{userCollectId},#{type},#{date})
    </insert>
    <delete id="deleteSongListCollect" parameterType="Integer">
        delete from tb_song_list_collect where song_list_collect_id=#{value}
    </delete>
    <resultMap id="songListCollect" type="SongListCollect">
        <id column="song_list_collect_id" property="id"/>
        <result column="song_list_collect_music_id" property="musicId"/>
        <result column="song_list_collect_user_id" property="userId"/>
        <result column="song_list_collect_classification_id" property="classificationId"/>
        <result column="song_list_collect_user_collect_id" property="userCollectId"/>
        <result column="song_list_collect_type" property="type"/>
        <result column="song_list_collect_date" property="date"/>
    </resultMap>
</mapper>

