<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//ED"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SongListMapper">
    <select id="selectListSongList" parameterType="SongList" resultMap="songList">
        select * from tb_song_list
        <where>
            <if test='id!=0'>
                song_list_id=#{id}
            </if>
            <if test='userId!=0'>
                song_list_user_id=#{userId}
            </if>
            <if test='name!=null and name!=""'>
                and song_list_name like "%"#{name}"%"
            </if>
            <if test='type!=0'>
                and song_list_type=#{type}
            </if>
            <if test='activity!=0'>
                and song_list_activity=#{activity}
            </if>
            <if test='classificationId!=0'>
                and song_list_classification_id=#{classificationId}
            </if>
        </where>
    </select>
    <select id="listIdSelectListSongList" parameterType="Integer" resultMap="songList">
        select * from tb_song_list
        <where>
            <foreach collection="list" item="value" separator="," open="song_list_id in(" close=")">
                #{value}
            </foreach>
        </where>
    </select>
    <insert id="insertSongList" parameterType="SongList">
         insert into tb_song_list(song_list_user_id,song_list_name,song_list_picture,song_list_introduction,song_list_date,
         song_list_classification_id,song_list_type,song_list_activity)
         values(#{userId},#{name},#{picture},#{introduction},#{date},#{classificationId},#{type},#{activity})
    </insert>
    <update id="updateSongList" parameterType="SongList">
        update tb_song_list
        <set>
            <if test='userId!=0'>
                song_list_user_id=#{userId}
            </if>
            <if test='name!=null and name!=""'>
                ,song_list_name=#{name}
            </if>
            <if test='picture!=null and picture!=""'>
                ,song_list_picture=#{picture}
            </if>
            <if test='introduction!=null and introduction!=""'>
                ,song_list_introduction=#{introduction}
            </if>
            <if test='date!=null '>
                , song_list_date=#{date}
            </if>
            <if test='classificationId!=0'>
                ,song_list_classification_id=#{classificationId}
            </if>
            <if test='type!=0'>
                ,song_list_type=#{type}
            </if>
            <if test='activity!=0'>
                ,song_list_activity=#{activity}
            </if>
        </set>
        where song_list_id=#{id}
    </update>
    <delete id="deleteSongList" parameterType="Integer">
        delete from tb_song_list where song_list_id=#{value}
    </delete>


    <resultMap id="songList" type="SongList">
        <id column="song_list_id" property="id"/>
        <result column="song_list_user_id" property="userId"/>
        <result column="song_list_name" property="name"/>
        <result column="song_list_picture" property="picture"/>
        <result column="song_list_introduction" property="introduction"/>
        <result column="song_list_date" property="date"/>
        <result column="song_list_classification_id" property="classificationId"/>
        <result column="song_list_type" property="type"/>
        <result column="song_list_activity" property="activity"/>
    </resultMap>
</mapper>
