<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>back_music</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" href="css/back_system.css"th:href="@{/static/css/back_system.css}" >
</head>
<body>
<div class="total">
    <!--头部-->
    <div th:replace="back_system/back_head::html" ></div>
    <div class="main">
<!--        侧边-->
        <div   th:replace="back_system/back_side::html"></div>

        <div class="main_right">
            <div class="main_right_header">
                <div class="mrh">
                    <form action="">
                        <input type="text" placeholder="id">
                        <input type="text"placeholder="邮箱">
                        <input type="text" placeholder="名字">
                        <sapn>等级</sapn><select name="等级">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                    </select>
                        <span>被举报次数</span><select name="被举报次数" placeholder="bei">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                    </select>
                        <button type="submit">
                            <img src="img/搜索--1.png" th:src="@{/static/img/搜索--1.png}" alt=""></button>
                    </form>
                </div>
            </div>
            <!--        模态框    -->
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="margin-top: 200px">
                        <div class="modal-header" style="text-align: center">
                            <h4 class="modal-title" id="myModalLabel">
                                查看信息
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" style="width:30%; height: 40px; background: #BA55D3;border:none;outline: none;box-shadow: none;">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!-- 模态框（Modal_1） -->
            <div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width:300px;">
                        <div class="modal-header" style="color:#BA55D3;display: flex" >
                            <h4>修改信息</h4>
                            <p type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </p>
                        </div>
                        <div class="modal-body" style="width:80%;display: flex;flex-direction: column;align-items: center">
                            <form action=""  >
                                <p>等级：<select name="等级">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>级</p>
                                <p>vip余
                                    <select name="vip余天">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                    天
                                </p>
                                <p>
                                    余额<input type="text" placeholder="余额" id="balance">
                                </p>
                                <p>举报<input type="text" placeholder="举报次数" id="warn">次
                                </p>
                                <p id="sh"></p>
                                <div class="modal_footer">
                                    <input type="reset" style="width:40%; height: 40px; background: #BA55D3;border:none;outline: none;box-shadow: none" name="button" id="button" value="reset"/>
                                    <input type="submit" data-toggle="modal" data-target="#myModal_4" style="width:40%; height: 40px; background: #BA55D3;border:none;outline: none;box-shadow: none"  data-dismiss="modal" value="commit"/>
                                </div>

                            </form>
                        </div>




                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- 模态框（Modal_2） -->
            <div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width:300px;margin-top:200px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body" style="display: flex;flex-direction: column;align-items: center;">
                            确定要删除吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" data-toggle="modal" data-target="#myModal_3">
                                commit
                            </button>
                            <button type="button"  data-dismiss="modal">cancel
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!--            重置成功 modal——3-->
            <div class="modal fade" id="myModal_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_3" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 200px;height: 200px;margin-top: 200px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel_3">

                            </h4>
                        </div>
                        <div class="modal-body" style="width:200px;height:65px;">
                            <p style="float:left;height: 50px;line-height: 50px;">
                                <img src="img/对号.png" th:src="@{/static/img/对号.png}" style="width:40px;height: 40px;" alt="">
                            </p>
                            <p style="float:left;height: 50px;line-height: 50px;">
                                删除成功
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" style=" width: 58px;background: #0099FF; height: 33px;border: none;border-radius: 3px;">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!--            重置成功 modal——4-->
            <div class="modal fade" id="myModal_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_4" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 200px;height: 174px;margin-top: 200px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel_4">

                            </h4>
                        </div>
                        <div class="modal-body" style="width:200px;height:65px;">
                            <p style="float:left;height: 50px;line-height: 50px;">
                                <img src="img/对号.png" th:src="@{/static/img/对号.png}" style="width:40px;height: 40px;" alt="">
                            </p>
                            <p style="float:left;height: 50px;line-height: 50px;">
                                修改成功
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" style=" width: 58px;background: #0099FF; height: 33px;border: none;border-radius: 3px;">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>



            <!--            -->
            <div class="main_rh_main" >
                <table class="" style="overflow-x: auto;width:1540px;">
                    <!--                    content table table-hover-->
                    <thead>
                    <tr>
                        <th>用户</th>
                        <th>ID</th>
                        <th>邮箱</th>
                        <th>名字</th>
                        <th>等级</th>
                        <th>VIP到期时间</th>
                        <th>余额</th>
                        <th>创号时间</th>
                        <th>被举报次数</th>
                        <th>粉丝量</th>
                        <th>专辑</th>
                        <th>上传的音乐</th>
                        <th>订单</th>
                        <th>参与评论</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>0</td>
                        <td>0</td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td> <div class="hid_show"  title="鼠标悬停"  onmouseover="overShow(this,event)" onmouseout="outHide()">
                            1234567891011121314151617181910
                        </div>
                            <!--                            <div id="showDiv"></div></td>-->
                        <td><div class="hid_show"  onmouseover="overShow(this,event)" onmouseout="outHide()">
                            1234567891011121314151617181910
                        </div></td>
                        <td>Tanmay</td>
                        <td>Bangae</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td>0</td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td>0</td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit" ></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td>0</td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td>0</td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td></td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td> </td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>
                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td>

                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td><!-- 按钮触发模态框 -->
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>560001</td>
                        <td>0</td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    <tr>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>560001</td>
                        <td>Tanmay</td>
                        <td>Bangalore</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td> <button data-toggle="modal" data-target="#myModal">
                            查看
                        </button></td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal">
                                查看
                            </button>
                        </td>
                        <td>
                            <i data-toggle="modal" data-target="#myModal_1" title="编辑">
                                <span class="glyphicon glyphicon-edit"></span>
                            </i>
                            <i data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="main_rh_footer">
                <!--                分页-->
                <div class="zzsc">
                    <!--                currentpage="1" numbercount="**"-->
                    <ul class="page" id="page" pagelistcount="10" maxshowpageitem="5">
                        <li class="pageItemDisable" page-rel="firstpage" page-data="1">首页</li>
                        <li class="pageItemDisable" page-rel="prepage" page-data="0">&lt;上一页</li>
                        <li class="pageItemActive" page-rel="itempage" page-data="1">1</li>
                        <li class="pageItem" page-rel="itempage" page-data="2">2</li>
                        <li class="pageItem" page-rel="itempage" page-data="3">3</li>
                        <li class="pageItem" page-rel="itempage" page-data="4">4</li>
                        <li class="pageItem" page-rel="itempage" page-data="5">5</li>
                        <li class="pageItem" page-rel="nextpage" page-data="2">下一页&gt;</li>
                        <li class="pageItem" page-rel="lastpage" page-data="8">尾页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
<script src="js/bootstrap.min.js"  th:src="@{/static/js/bootstrap.min.js}" ></script>
<script src="js/jquery-1.9.1.js" th:src="@{/static/js/jquery-1.9.1.js}" ></script>
<script src="js/back_system.js" th:src="@{/static/js/back_system.js}"></script>
<script src="js/page.js" th:src="@{/static/js/page.js}" ></script>
</html>
