<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="side" >
<!--    以下为公共部分-->
    <div class="side_head">
        <span></span>
    </div>
    <ul>
        <li><a href="back_system.html">用户</a></li>
        <li><a href="Email.html">邮箱</a></li>
        <li><a href="order.html">订单</a></li>
        <li><a href="back_music.html">音乐</a></li>
        <li><a href="song_list.html">歌单/专辑</a></li>
        <li><a href="back_MV.html">MV</a></li>
        <li><a href="talking.html">评论</a></li>
        <li><a href="classification.html">分类</a></li>
        <li><a href="active.html">活动</a></li>
        <li><a href=""></a></li>
    </ul>
</div>