<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <a class="header_brand " href="../index.html">
            <span class="had_br_main"><img src="img/音乐.png"  th:src="@{/static/img/音乐.png}"alt=""><span class="web-font">futurMusic</span></span>
        </a>
        <div class="menu_toggle_button">
            <img src="img/多项经营汇总统计.png" th:src="@{/static/img/多项经营汇总统计.png}" id="bookmarak" alt="">
        </div>
        <div class="header_right">
            <div class="rig_col_left"></div>
            <div class="rig_col_right"><p style="cursor: pointer">退出</p></div>
        </div>
    </div>
