<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>order</title>
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" href="css/back_system.css"th:href="@{/static/css/back_system.css}" >
    <link rel="stylesheet" href="css/Email.css"th:href="@{/static/css/Email.css}" >
    <link rel="stylesheet" href="css/order.css"th:href="@{/static/css/order.css}" >
</head>
<body>
<div class="total">
    <!--头部-->
    <div th:replace="back_system/back_head::html" ></div>
    <div class="main">
        <!--        侧边栏-->
        <div   th:replace="back_system/back_side::html"></div>
        <div class="main_right">
            <div class="main_right_header">
                <div class="mrh">
                    <form action="/administrators/showOrder">
                        <input type="text"  name="condition" placeholder=" id">
                        <input type="text"  name="condition" placeholder="音乐 id">
                        <input type="text"  name="condition" placeholder="MV id">
                        <input type="text"  name="condition" placeholder="用户id">
                        <button type="submit">
                            <img src="img/搜索--1.png" th:src="@{/static/img/搜索--1.png}" alt=""></button>
                    </form>
                </div>
            </div>
            <!--        模态框    -->

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="margin-top: 200px">
                        <div class="modal-header" style="text-align: center">
                            <h4 class="modal-title" id="myModalLabel">
                                （活动名称）
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body" style="height: 250px;">
                            <div class="activities_img">
                                插入图片
                            </div>
                            <div class="activities_introduse">
                                文字介绍
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" style="width:30%; height: 40px; background: #BA55D3;border:none;outline: none;box-shadow: none;">
                                确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!--            modal_6新增信息-->
            <!-- 模态框（Modal_1） -->
            <!-- 模态框（Modal_2） -->
            <div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width:300px;margin-top:200px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body" style="display: flex;flex-direction: column;align-items: center;">
                            确定要删除吗？
                        </div>
                        <div class="modal-footer">
                            <form action="/administrators/deleteOrder" method="post">
                                <!--用来存储id看不了-。- -->
                                <input id="orderInformationDeleteId" name="id" style="display:none"/>
                                <!--data-dismiss="modal" data-toggle="modal" data-target="#myModal_3"-->
                                <button type="submit">
                                    commit
                                </button>
                            </form>
                            <button type="button"  data-dismiss="modal">cancel
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!--            重置成功 modal——3-->
            <div class="modal fade" id="myModal_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_3" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 200px;height: 200px;margin-top: 200px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel_3">

                            </h4>
                        </div>
                        <div class="modal-body" style="width:200px;height:65px;">
                            <p style="float:left;height: 50px;line-height: 50px;">
                                <img src="img/对号.png" th:src="@{/static/img/对号.png}" style="width:40px;height: 40px;" alt="">
                            </p>
                            <p style="float:left;height: 50px;line-height: 50px;">
                                删除成功
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" style=" width: 58px;background: #0099FF; height: 33px;border: none;border-radius: 3px;">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <!--            修改成功 modal——4-->
            <!--            modal_5添加成功-->
            <div class="modal fade" id="myModal_5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_4" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 200px;height: 174px;margin-top: 200px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel_5">

                            </h4>
                        </div>
                        <div class="modal-body" style="width:200px;height:65px;">
                            <p style="float:left;height: 50px;line-height: 50px;">
                                <img src="img/对号.png" th:src="@{/static/img/对号.png}" style="width:40px;height: 40px;" alt="">
                            </p>
                            <p style="float:left;height: 50px;line-height: 50px;">
                                添加成功
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  data-dismiss="modal" style=" width: 58px;background: #0099FF; height: 33px;border: none;border-radius: 3px;">确定
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!--            -->
            <div class="main_rh_main" >

                <table class="">
                    <!--                    content table table-hover-->
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>用户id</th>
                        <th>音乐/MV</th>
                        <th>类型</th>
                        <th>歌手id</th>
                        <th>专辑id</th>
                        <th>分类id</th>
                        <th>原价</th>
                        <th>现价</th>
                        <th>支付方式</th>
                        <th>购买日期</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody th:each="list:${pageInfo.list}" >
                    <tr>
                        <td ><a href="#" th:text="${list.id}"></a></td>
                        <td ><a href="#" th:text="${list.userId}"></a></td>
                        <td><a href="#" th:text="${list.musicId}"></a></td>
                        <td><a href="#" th:text="${list.type}" ></a></td>
                        <td><a href="#" th:text="${list.singerId}"></a></td>
                        <td><a href="#" th:text="${list.albumId}"></a></td>
                        <td><a href="#" th:text="${list.classificationId}"></a></td>
                        <td th:text="${list.originalPrice}"></td>
                        <td th:text="${list.price}"></td>
                        <td th:text="${list.mode}"></td>
                        <td th:text="${#dates.format(list.date, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                        <td>
                            <i th:data-id="${list.id}" class="orderInformationDelete" data-toggle="modal" data-target="#myModal_2" title="删除">
                                <span class="glyphicon glyphicon-trash"></span>
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </div>
            <div class="main_rh_footer">
                <!--                分页-->
                <div class="zzsc">
                    <ul class="page" pagelistcount="10" maxshowpageitem="5">
                    <li class="pageItemDisable" page-rel="firstpage" page-data="1"><a
                            th:href="@{/administrators/showOrder(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=1)}">首页</a></li>
                    <li th:if="${pageInfo.hasPreviousPage}" class="pageItemDisable" page-rel="prepage" page-data="0"><a
                            th:href="@{/administrators/showOrder(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=${pageInfo.pageNum-1})}">上一页</a></li>
                    </ul>
                    <!--                currentpage="1" numbercount="**"-->
                    <ul class="page" th:each="list,tmp:${pages}"  pagelistcount="10" maxshowpageitem="5">
                        <li class="pageItemActive" page-rel="itempage" page-data="1"><a th:href="@{/administrators/showOrder(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=${tmp.count})}" th:text="${tmp.count}"></a></li>
                    </ul>
                    <ul class="page"  pagelistcount="10" maxshowpageitem="5">
                    <li th:if="${pageInfo.hasNextPage}"  class="pageItem" page-rel="nextpage" page-data="2"><a
                            th:href="@{/administrators/showOrder(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=${pageInfo.pageNum+1})}">下一页&gt;</a></li>
                    <li class="pageItem" page-rel="lastpage" page-data="8"><a
                            th:href="@{/administrators/showOrder(condition=${conditionZero},condition=${conditionOne},condition=${conditionTwo},condition=${conditionThree},pageNum=${pageInfo.pages})}">尾页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.js" th:src="@{/static/js/jquery.js}"></script>
<script src="js/bootstrap.min.js"  th:src="@{/static/js/bootstrap.min.js}" ></script>
<script src="js/jquery-1.9.1.js" th:src="@{/static/js/jquery-1.9.1.js}" ></script>
<script src="js/back_system.js" th:src="@{/static/js/back_system.js}"></script>
<script src="js/page.js" th:src="@{/static/js/page.js}" ></script>
<script src="js/Email.js" th:src="@{/static/js/page.js}" ></script>
<script src="js/song_list.js" th:src="@{/static/js/ajax.js}"></script>
</html>
