<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="zzsc">
        <!--                currentpage="1" numbercount="**"-->
        <ul class="page" id="page" pagelistcount="10" maxshowpageitem="5">
            <li class="pageItemDisable" page-rel="firstpage" page-data="1">首页</li>
            <li class="pageItemDisable" page-rel="prepage" page-data="0">&lt;上一页</li>
            <li class="pageItemActive" page-rel="itempage" page-data="1">1</li>
            <li class="pageItem" page-rel="itempage" page-data="2">2</li>
            <li class="pageItem" page-rel="itempage" page-data="3">3</li>
            <li class="pageItem" page-rel="itempage" page-data="4">4</li>
            <li class="pageItem" page-rel="itempage" page-data="5">5</li>
            <li class="pageItem" page-rel="nextpage" page-data="2">下一页&gt;</li>
            <li class="pageItem" page-rel="lastpage" page-data="8">尾页</li>
        </ul>
    </div>