<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::html"></head>
<head>
    <link rel="stylesheet" href="/static/css/sysytem/toEmail.css" th:href="@{/static/css/sysytem/toEmail.css}">
</head>
<body>



<div class="col-lg-2" th:fragment="noticeEmailHead">
    <h3 class="pointer" style="text-align: center">我的邮件</h3>
    <ul class="toEmail_tab">
        <li >
            <a th:href="@{/user/sendEmail}">
                <h4>
                    <i class="iconfont icon-xinfeng"></i> 发送
                </h4>
            </a>
        </li>
        <li>
            <a th:href="@{/user/receiveEmail}">
                <h4>
                    <i class="iconfont icon-xinfeng"></i> 接收
                </h4>
            </a>
        </li>
        <li class="active">
            <a th:href="@{/user/noticeEmail}">
                <h4>
                    <i class="iconfont icon-music"></i> 通知
                </h4>
            </a>
        </li>
    </ul>
</div>
<div class="col-lg-9" th:fragment="noticeEmail" style="height: 800px;overflow: auto">
    <h4 id="tabName">通知</h4>
    <div class="redLine"></div>
    <table class="table table-hover PrivateLetter">
        <tr th:each="map:${mailMap}">
            <th class="container row">
                <div class="col-lg-1" style="width: 60px"><a href="#"><img src="" th:src="${map.value.headPortrait}"
                                                                           alt=""></a></div>
                <div class="col-lg-11">
                    <b class="emailName" th:text="${map.value.name}">123</b>
                    <i class="iconfont icon-59"></i>
                    <font th:text=" ${#dates.format(map.key.date, 'yyyy-MM-dd HH:mm:ss')}">time</font>
                    <h5 th:text="${map.key.content}">connet</h5>
                </div>
            </th>
        </tr>
    </table>
</div>

</body>
</html>